swagger: '2.0'
info:
  title: BlueJeans onVideo REST API
  description: >
  
    # Video That Works Where You Do.
    
    This site provides developers access to API's from BlueJean's onVideo meeting service.  From here you will be able to make actual API calls to manage User Accounts, Meetings, and Recordings.  Also, you can pull analytical data and current state information.

    
    With these API's  you should be able to quickly integrate **BlueJeans** video administration into your applications.  
     
    ## Getting Started

    Before you start using BlueJeans' API's, you must first have a BlueJeans account enabled for API Access.  Contact [BlueJeans Support](mailto:Support@BlueJeans.com) for assistance.  <br /><br />Once you have an account, you may start writing application code to authenticate and make API calls.  *Alternatively*, you can use this developer site to test the BlueJeans' API's and develop a level of familiarity before you write production code.  <br />
    
    ### To Make API Calls from This Site
    
    If you want to use this developer site to try various BlueJeans' API's, here are the steps required to authenticate and enable your Developer Session to place API calls.
    
    1. Choose Method for Authenticating 
         * Click on the desired Authentication method from below.
         * Click on the **Try It Out** button.
    1. Make Authentication request
         * Follow API's instructions and input the API parameters.
         * Click on the blue **Execute** button.
         * If successful, the API returns with JSON data containing a field called **access_token**.  Copy/save this value.
    1. Authorize BlueJeans Developer Session.
         * Click on the green **Authorize button**. 
         * The site will show you a pop-up window for authorization.
         * Enter your access token in the field named **api_key**
         * Click on the **Authorize** button
    
    Your current BlueJeans developer session is now authenticated and ready to place API calls.  The web site will automatically include your access token on any API calls you make.


    ## About onVideo Authentication

    All API transactions (excluding Authentication) require an access token per **OAuth standards**.  BlueJeans provides multiple methods for obtaining an access token.  Additionally there are diffferent scopes of token access.

    ### Grant Types
    
    Bluejeans provides 4 different methods for users to Authenticate.  Successful authentication allows BlueJeans to grant an access token to perform API operations.
    
    * Password Credentials Grant – Authenticate with a username and password and receive an access token with user level permission. Known as two-legged OAuth.

    * Meeting Credentials Grant – Authenticate with a meeting ID and meeting passcode and receive an access token with meeting level permission. Known as two-legged OAuth.

    * Client Credentials Grant –  Authenticate with a client ID and client secret and receive an access token with enterprise level permission. Known as two-legged OAuth.

    * Authorization Code Grant – Authentication for your developer's application occurs through a redirection to a BlueJeans authentication page. The application receives an authorization code to be submitted, along with other tokens, to receive an access token. Known as three-legged OAuth. For more information please refer to the [OAuth specification](https://oauth.net/).

    ### Access & Permissions

    BlueJeans defines 3 levels of API access into the system.  When an access token is granted, it carries one of these 3 levels.  The scope of system functionality depends upon the token's access level.

    * Meeting-level – Scope of APIs is limited to individual meetings.

    * User-level – Scope depends on the requested permissions.

    * App-level – provisioned either by BlueJeans personnel, or the BlueJeans Enterprise Admin, an app, is issued a client key and secret key. These tokens then are used by the BlueJeans Authentication API to receive the token. The token's scope provides access to the entire enterprise and all of its users.
    
    All endpoints in this document that require **Enterprise Admin** access will be marked as such.
   
    
  termsOfService: https://www.bluejeans.com/terms-of-service
  license:
    name: Commercial
    url: https://www.bluejeans.com/site/terms-and-conditions
  version: 1.0.0
  contact:
    name: Brandon Fuller
    url: http://bluejeans.com/
    email: brandon@bluejeans.com
externalDocs:
  description: >
    Find more info here
  url: https://swagger.io
host: api.bluejeans.com
securityDefinitions:
  access_token:
    type: apiKey
    name: access_token
    in: query
security:
  - access_token: []
schemes:
  - https
produces:
  - application/json
tags:
  -
    name: Authentication
    description:  Initiate a session with BlueJeans
  -
    name: User
    description:  Manage End User Accounts
  -
    name: Enterprise
    description:  Manage Enterprise User Accounts
  -
    name: Meeting
    description:  Manage Video Meetings and Endpoints
  -
    name: History
    description:  Access Historical Meeting Data
  -
    name: Recording
    description:  Manage Meeting Recordings
  -
    name: Command Center
    description:  Access Status of Current Meetings & Enterprise Usage Information
paths:
  /oauth2/token?Password:
    post:
      summary: Authentication via Password Grant Type
      description: This API performs an authentication based upon a username and password.   Call this API and provide a valid username and password. <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**password**" (string).
      operationId: getTokenByPassword
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestPassword
          description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *password*.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestPassword'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantPassword'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Meeting:
    post:
      summary: Authentication via Meeting Grant Type
      description: This API uses an OAuth-like grant/request method similar to the Password grant type.  The API returns an access token whose scope is limited to the meeting only. <br />Call this API with the meeting's numeric ID, and the meeting passcode (if one exists). <br />&nbsp;&nbsp;If you call the API with a Moderator passcode, moderator privileges are granted. <br />&nbsp;&nbsp;If an Attendee access code is passed, the access token will grant attendee abilities.<br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**meeting_passcode**" (string).
      operationId: getTokenByMeeting
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestMeeting
          description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *meeting_passcode*.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestMeeting'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantMeeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Client:
    post:
      summary: Authentication via Client Grant Type
      description: This API is typically called from an application that needs to make API requests.  The values for the calling parameters, Client ID, and Secret, are provisioned within the BlueJeans Enterprise Administration console.  A BlueJeans administrator must generate these parameters and provide them to the customer/developer. <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**client_credentials**" (string).
      operationId: getTokenByClient
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestClient
          description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *client_credentials*.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestClient'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantClient'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Code:
    post:
      summary: Authentication via Code Grant Type
      description: This API is part of the 3-legged OAuth 2.0 authorization flow.  The user will be redirected to a BlueJeans page to authenticate.  You must pass to this API your OAuth client and secret keys as well as a *success URL* to which the user will be redirected upon successful authentication. <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**authorization_code**" (string).
      operationId: getTokenByCode
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestCode
          description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *authorization_code*.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestCode'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantCode'
        '401':
          description: The code token is invalid or has expired.  The code is only good for 30 seconds!
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Refresh:
    post:
      summary: Authentication via Refresh Grant Type
      description: This API is part of the 3-legged OAuth 2.0 authorization flow.  It only works for access tokens obtained via /oauth2/token?Code endpoint. It allows an application to refresh an existing access token.  You must pass to this API your OAuth client and secret keys as well as the current access token being refreshed.  <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**refresh_token**" (string).
      operationId: getTokenByRefresh
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestRefresh
          description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *refresh_token*.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestRefresh'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantRefresh'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Revoke:
    delete:
      summary: Revoke Access Token
      description: This API is part of the 3-legged OAuth 2.0 authorization flow.
      operationId: revokeAccessToken
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: access_token
          type: string
          in: query
        - name: GrantRequestRevoke
          description: Contains information about the type of grant you are revoking.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestRevoke'
      responses:
        '204':
          description: The information about the grant.
        '400':
          description: Bad request. The access_token is probably already revoked and cannot be found. Use /oauth2/tokenInfo to query a token's validity if needed.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/tokenInfo:
    get:
      summary: Validate a Token
      description: This endpoint will determine if a token is valid or not.  If the token is valid, it returns the user ID for the owner of the token.
      operationId: getTokenInfo
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: access_token
          type: string
          in: query
      responses:
        '200':
          description: Any information about the token.
          schema:
            type: object
            properties:
              user:
                type: integer
                description: The ID of the user who this token corresponds to.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/authorize:
    get:
      summary: Get Authorization Code
      description: This is **not a true REST endpoint**. <br /> This URL should be used by a user's browser-client application to perform authorization. <br />Upon completion, the user will be redirected back to the client application with state and code return parameters. Use "bluejeans.com" as hostname. <br />**Note:**<br />&nbsp;&nbsp;The code returned is only valid for *30 seconds.*  Your application must call as soon as possible the /oauth2/token API to generate an access token from the returned code.
      operationId: getAuthorizationCode
      tags:
        - Authentication
      parameters:
        - name: clientId
          in: query
          description: The 32 character client ID generated when you created the client application.
          type: string
        - name: redirectUri
          in: query
          description: The URL where the authorization code will be returned via redirect.  The URL must match a URL registered with the client application.
          type: string
        - name: state
          in: query
          description: Client application specific state passed through and returned in the redirect URL. May be useful for identifying operations or users.
          type: string
        - name: scope
          in: query
          description: A comma delimited list of scopes requested. Scopes may be list_meetings, modify_meetings, user_info. Unfortunately, not all operations in the API are available via this authentication method at the current time.
          type: string
        - name: responseType
          in: query
          description: The type of authorization you are peforrming.  Set to "code".
          type: string
          default: code
        - name: appName
          in: query
          description: The name of the client application shown to user during authorization.
          type: string
        - name: appLogoUrl
          in: query
          description: URL to an 84x84 image shown to user during authorization.
          type: string
      responses:
        '200':
          description: This URL should be invoked by the user of the client application in a browser, not via API.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}:
    get:
      summary: Get User Account Details
      description: This endpoint retrieves the basic account details for a given user.
      operationId: getUser
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the user
          schema:
            $ref: "#/definitions/User"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update User Account Details
      description: This endpoint allows updating a user’s basic account details.
      operationId: updateUser
      tags:
        - User
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: user
          in: body
          description: The user details that you wish to update.
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        '200':
          description: The settings for the user
          schema:
            $ref: "#/definitions/User"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/granted_applications:
    get:
      summary: Get Granted Applications
      description: This endpoint retrieves the granted applications associated with the user.
      operationId: getGrantedApplications
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The granted applications for the user.
          schema:
            $ref: "#/definitions/GrantedApplications"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/granted_applications/{client_id}:
    delete:
      summary: Remoke Granted Application
      description: This endpoint revokes the granted application associated with the user.
      operationId: revokeGrantedApplication
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: client_id
          in: path
          description: The ID of the granted application.
          required: true
          type: string
      responses:
        '204':
          description: The granted applications for the user.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/enterprise_profile:
    get:
      summary: Get Enterprise Profile
      description: This endpoint retrieves the enterprise profile associated with the user.
      operationId: getEnterpriseProfile
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the user's enterprise association.
          schema:
            $ref: "#/definitions/Enterprise"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/users:
    get:
      summary: List Enterprise Users
      description: This endpoint allows listing the users that are associated with an enterprise account. Requires enterprise admin access level.
      operationId: listUsers
      tags:
        - Enterprise
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: pageSize
          in: query
          description: Sets number of items returned per page.
          type: integer
        - name: pageNumber
          in: query
          description: Selects which page of results to return.
          type: integer
        - name: emailId
          in: query
          description: Allows filtering the response by a user’s email address.
          type: string
      responses:
        '200':
          description: The list of users in the enterprise.
          schema:
            $ref: "#/definitions/EnterpriseUserList"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create Enterprise User
      description: This endpoint allows adding a user to an existing enterprise. Requires enterprise admin access level.
      operationId: createUser
      tags:
        - Enterprise
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: forcePasswordChange
          in: query
          description: Forces the user to change his or her password on first log in.
          type: boolean
        - name: sendVerificationMail
          in: query
          description: Prevents welcome emails from being sent to the newly created user.
          type: boolean
        - name: user
          in: body
          description: The information about the new user.
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '201':
          description: The new user.
          schema:
            $ref: '#/definitions/UserId'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/users/{user_id}:
    delete:
      summary: Remove Enterprise User
      description: This endpoint allows removing a user from an enterprise; it does not delete the user. Requires enterprise admin access level.
      operationId: removeUser
      tags:
        - Enterprise
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '204':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/room:
    get:
      summary: Get User’s Default Meeting Settings
      description: This endpoint gets a user’s default meeting settings.
      operationId: getRoom
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update User’s Default Meeting Settings
      description: This endpoint allows updating a user’s default meeting settings.
      operationId: updateRoom
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: room
          in: body
          description: The user's room details that you wish to update.
          required: true
          schema:
            $ref: "#/definitions/Room"
      responses:
        '200':
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/scheduled_meeting:
    get:
      summary: List Meetings
      description: This endpoint gets a list of the user's scheduled upcoming meetings.
      operationId: listMeetings
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numericMeetingId
          description: Filter the results by the meeting ID that participants will see and use to join the conference.
          type: string
          in: query
      responses:
        '200':
          description: A list of meetings. 
          schema:
            type: array
            items:
              $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create Meeting
      description: This endpoint will create a scheduled meeting.
      operationId: createMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: email
          in: query
          description: If set to true, sends invitation emails to all listed participants.
          type: boolean
        - name: meeting
          in: body
          description: The details of the meeting.
          required: true
          schema:
            $ref: "#/definitions/Meeting"
      responses:
        '201':
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}:
    get:
      summary: Get Meeting
      description: This endpoint gets the settings for a user's meeting.
      operationId: getMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property. This is not the numeric meeting ID visible to users.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Meeting
      description: This endpoint changes the settings for a user's meeting. For example, use for rescheduling.
      operationId: updateMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest.  This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: meeting
          in: body
          description: The user's room details that you wish to update.
          required: true
          schema:
            $ref: "#/definitions/Meeting"
      responses:
        '200':
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Cancel Meeting
      description: This endpoint deletes a scheuled meeting.
      operationId: cancelMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: No content.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}/emails:
    get:
      summary: Get Meeting Email
      description: This endpoint retrieves the email object for a scheduled meeting.
      operationId: getMeetingEmails
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: type
          in: query
          description: TEXT, ICS, HTML
          type: string
          enum:
            - TEXT
            - ICS
            - HTML
        - name: role
          in: query
          description: moderator, participant
          type: string
          enum:
            - moderator
            - participant
        - name: action
          in: query
          description: create, edit, delete
          type: string
          enum:
            - create
            - edit
            - delete
      responses:
        '200':
          description: The settings for the email.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meetings/{meeting_id}/numbers:
    get:
      summary: Get Meeting Join Info
      description: This endpoint retrieves the join information for a scheduled meeting.
      operationId: getMeetingNumbers
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the join information.
          schema:
            $ref: '#/definitions/Numbers'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}:
    get:
      summary: Get Meeting State
      description: This endpoint’s purpose is to return whether the meeting is in progress or not.
      operationId: getMeetingState
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the meeting state.
          schema:
            $ref: '#/definitions/MeetingState'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Meeting State
      description: This endpoint’s purpose is to be able to modify a meeting.
      operationId: updateMeetingState
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: delay
          in: query
          description: Number of seconds to delay the end meeting operation.
          type: integer
        - name: PayloadMeetingState
          in: body
          description: The meeting properties that you wish to update.
          required: true
          schema:
            type: object
            properties:
              locked:
                type: boolean
                description: True to lock, false to unlock.
              status:
                type: string
                description: Set to "terminated" to end the meeting.
      responses:
        '200':
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/Meeting'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/endpoints:
    get:
      summary: List Meeting Endpoints
      description: This endpoint returns an array of all endpoints in the current meeting.
      operationId: getMeetingEndpoints
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
      responses:
        '200':
          description: The list of endpoints.
          schema:
            $ref: '#/definitions/Endpoints'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Meeting Endpoints State
      description: This endpoint’s purpose is to be able to modify the endpoints in a meeting. Seems to require a Meeting-level access token.
      operationId: updateMeetingEndpoints
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: mute
          in: query
          description: Allows you to mute/unmute all participants in a meeting. Set mute to true to mute.  Set mute to false to unmute.
          type: boolean
        - name: media
          in: query
          description: Specify the type of media you which to mute/unmute.
          type: string
          enum:
            - audio
            - video
      responses:
        '204':
          description: There is no body conent.
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/endpoints/{endpoint_guid}:
    get:
      summary: Get Endpoint Information
      description: This endpoint allows you to retrieve information about an endpoint in the meeting.
      operationId: getMeetingEndpoint
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
      responses:
        '200':
          description: The settings for the endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Endpoint Video/Audio State
      description: This endpoint allows you to update an individual endpoint’s ability to send audio or video, and also allows removing an endpoint from the meeting.
      operationId: updateMeetingEndpoint
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
        - name: muteAudio
          in: query
          description: Toggle the audio source mute.
          type: boolean
        - name: muteVideo
          in: query
          description: Toggle the video source mute.
          type: boolean
        - name: leaveMeeting
          in: query
          description: Remove the user from the meeting.
          type: boolean
      responses:
        '200':
          description: The settings for the enpoint.
          schema:
            $ref: '#/definitions/Endpoint'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/endpoints/{endpoint_guid}/layout:
    get:
      summary: Get Endpoint Layout
      description: This endpoint allows you to retrieve an individual endpoint’s current layout setting.
      operationId: getEndpointLayout
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
      responses:
        '200':
          description: The settings for the endpoint's layout.
          schema:
            $ref: '#/definitions/Layout'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Endpoint Layout
      description: This endpoint allows you to update an individual endpoint’s current layout setting.
      operationId: updateEndpointLayout
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
        - name: isLeader
          in: query
          type: boolean
        - name: push
          in: query
          type: boolean
      responses:
        '200':
          description: The settings for the endpoint's layout.
          schema:
            $ref: '#/definitions/Layout'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/pairing_code/SIP:
    post:
      summary: Generate Pairing Code (SIP)
      description: This endpoint generates a SIP pairing code that can be used to connect to a meeting.
      operationId: generatePairingCodeSip
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: PayloadPairingCodeSIP
          in: body
          required: true
          description: Information about the device that will be joining via SIP.
          schema:
            type: object
            properties:
              endpointType:
                type: integer
                description: 1:GENERIC 2:LYNC 3:JABBER 4:BluejeansBrowser 5:BluejeansMobile
                default: 1
              userId:
                type: integer
                description: Optional database id of user associated with endpoint
              languageCode:
                type: string
                description: Optional language code
                default: en
                enum:
                  - en
                  - en-us
                  - en-gb
                  - de
              endpointName:
                type: string
                description: Optional name of endpoint
                default: My Test Endpoint
            required:
              - endpointType
      responses:
        '200':
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCodeSIP'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/pairing_code/webrtc:
    post:
      summary: Generate Pairing Code (WebRTC)
      description: This endpoint generates a WebRTC pairing code that can be used to connect to a meeting.
      operationId: generatePairingCodeWebRtc
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: role
          in: query
          type: string
          default: USER
        - name: PayloadPairingCodeWebRTC
          in: body
          required: true
          schema:
            type: object
            properties:
              endpointType:
                type: integer
              userId:
                type: integer
              languageCode:
                type: string
                enum:
                  - en
              capabilities:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCodeWebRTC'
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/invite:
    post:
      summary: Send Email Invite
      description: This endpoint generates an email invite to the specified meeting.
      operationId: sendMeetingInvite
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: numeric_meeting_id
          in: path
          description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
          required: true
          type: integer
        - name: PayloadInvite
          in: body
          required: true
          schema:
            type: object
            properties:
              invitees:
                type: array
                items:
                  type: string
      responses:
        '202':
          description: Empty response on success.
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history:
    get:
      summary: List History by User
      description: This endpoint retrieves a list of meeting histories by the given user.
      operationId: listHistoryByUser
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meetingId
          in: query
          description: Return only meetings with the specified meeting numeric ID.
          type: string
        - name: startDate
          in: query
          description: Return meetings starting from the specified date. MM/DD/YYYY
          type: string
        - name: endDate
          in: query
          description: Return meetings up until the specified date. MM/DD/YYYY
          type: string
        - name: pageSize
          in: query
          description: Sets number of items returned per page.
          type: integer
        - name: pageNumber
          in: query
          description: Selects which page of results to return.
          type: integer
        - name: order
          in: query
          description: Puts results in ascending or descending order. asc/desc
          type: string
      responses:
        '200':
          description: List of meeting history objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
        '404':
          description: No matches found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/meeting_history:
    get:
      summary: List History by Enterprise
      description: This endpoint retrieves a list of meeting histories by the given enterprise.
      operationId: listHistoryByEnterprise
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: List of meeting history objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/recordings:
    get:
      summary: List Meeting Recordings
      description: This endpoint retrieves a list of meeting recordings.
      operationId: listRecordings
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: pageSize
          in: query
          description: Sets number of items returned per page.
          default: 10
          type: integer
        - name: pageNumber
          in: query
          description: Selects which page of results to return.
          default: 1
          type: integer
        - name: sortBy
          in: query
          description: Selects which page of results to return.
          default: start_time
          type: string
        - name: order
          in: query
          description: Puts results in ascending or descending order.
          default: desc
          enum:
            - asc
            - desc
          type: string
      responses:
        '200':
          description: The results for the request.
          schema:
            type: array
            items:
              $ref: '#/definitions/RecordingSummary'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/recordings/{recording_entity_id}:
    get:
      summary: Get Recording
      description: This endpoint retrieves the details about a meeting recording.
      operationId: getRecording
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: recording_entity_id
          in: path
          description: The ID of the meeting recording. This value is shown in meeting recording lists as recordingEntityId.
          required: true
          type: integer
      responses:
        '200':
          description: The results for the request.
          schema:
              $ref: '#/definitions/Recording'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_guid}:
    get:
      summary: Get Meeting History by User
      description: This endpoint retrieves the meeting history for a specific instance of a meeting.
      operationId: getHistoryByUser
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The meeting history object.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/meeting_history/{meeting_guid}:
    get:
      summary: Get Meeting History by Enterprise
      description: This endpoint retrieves the meeting history for a specific instance of a meeting.
      operationId: getHistoryByEnterprise
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The meeting history object.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_guid}/sharing:
    get:
      summary: Get Meeting History Sharing by User
      description: This endpoint retrieves the meeting history sharing for a specific instance of a meeting.
      operationId: getHistorySharingByUser
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The meeting history sharing object.
          schema:
            $ref: '#/definitions/MeetingHistorySharing'
        '404':
          description: Sharing is not allowed. Recording marked private.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings:
    post:
      summary: Start Recording
      description: This endpoint starts recording for a meeting in progress. Note that this is a POST operation. Stop is a PUT operation.
      operationId: startRecording
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: action
          in: query
          required: true
          type: string
          enum:
          - start
          default: start
          description: Always set to "start" in order to start recording.
      responses:
        '204':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Stop Recording
      description: This endpoint stops recording for a meeting in progress. Note that this is a PUT operation. Start is a POST operation.
      operationId: stopRecording
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: action
          in: query
          required: true
          type: string
          enum:
          - stop
          default: stop
          description: Always set to "stop" in order to stop recording.
      responses:
        '204':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_id}/recordings:
    get:
      summary: Get All Recordings for a Specified Meeting ID
      description: This endpoint lists the recordings for a meeting.
      operationId: getMeetingRecordings
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: meetingGuid
          in: query
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: false
          type: string
      responses:
        '200':
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/RecordingHistoryList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_guid}/recordings/:
    delete:
      summary: Delete All Recordings for a Specified Meeting GUID
      description: >
        This endpoint stops recording for a meeting in progress.
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_id}/recordings/{recording_chapter_id}/:
    delete:
      summary: Delete a Specified Recording Chapter
      description: This endpoint stops recording for a meeting in progress.
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: recording_chapter_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/cms/{content_id}:
    get:
      summary: Get Recording Download Link
      description: This endpoint retrieves properties about the recording chapter.
      operationId: getRecordingContent
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: content_id
          in: path
          description: The recording properties fetched with other API endpoints will return a compositeContentId or a contentId. That value can be used for this argument.
          required: true
          type: integer
        - name: isDownloadable
          in: query
          required: true
          type: boolean
          description: Set to true.
          default: true
      responses:
        '200':
          description: The results for this content item.
          schema:
            $ref: '#/definitions/Content'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings/live:
    get:
      summary: Live Meetings Summary by Enterprise
      description: This endpoint lists meetings in progress by enterprise.
      operationId: getMeetingsLiveByEnterprise
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/MeetingIndigoList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings/live/{meeting_uuid}/endpoints/:
    get:
      summary: List Live Meeting Endpoints by Enterprise
      description: This endpoint lists endpoints for a given meeting in progress.
      operationId: getMeetingLiveByEnterprise
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: meeting_uuid
          in: path
          description: The universally unique identifier (UUID) of the meeting of interest. This value is a string which contains 6 alphanumeric segments separated by dashes.
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/MeetingExtendedIndigo'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings:
    get:
      summary: List Past Meetings by Enterprise
      description: This endpoint lists completed meetings by enterprise.
      operationId: getMeetingsPastByEnterprise
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: offset
          in: query
          description: Page Number
          type: integer
        - name: limit
          in: query
          description: Per page
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/MeetingIndigoList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/indigo/meetings:
    get:
      summary: List Past Meetings by User
      description: This endpoint lists completed meetings by user.
      operationId: getMeetingsPastByUser
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The results for this user.
          schema:
            $ref: '#/definitions/MeetingIndigoList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings/{meeting_uuid}:
     get:
      summary: List Meeting Endpoints & Stats by Enterprise
      description: This endpoint lists meeting endpoints for completed meetings by enterprise.
      operationId: getMeetingPastByEnterprise
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: meeting_uuid
          in: path
          description: The universally unique identifier (UUID) of the meeting of interest. This value is a string which contains 6 alphanumeric segments separated by dashes.
          required: true
          type: string
        - name: includeEndpoints
          in: query
          description: Option to include detailed data on endpoints
          type: boolean
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/MeetingExtendedIndigo'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/indigo/meetings/{meeting_uuid}:
     get:
      summary: List Meeting Endpoints & Stats by User
      description: This endpoint lists meeting endpoints for completed meetings by user.
      operationId: getMeetingPastByUser
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_uuid
          in: path
          description: The universally unique identifier (UUID) of the meeting of interest. This value is a string which contains 6 alphanumeric segments separated by dashes.
          required: true
          type: string
      responses:
        '200':
          description: The results for this user.
          schema:
            $ref: '#/definitions/MeetingExtendedIndigo'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/users/usage:
     get:
      summary: Top Users
      description: This endpoint retrieves the top users by usage for an enterprise.
      operationId: getTopUsers
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"start_time\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"end_time\"}]"
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsTopUsers'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/endpoints/distribution:
     get:
      summary: Endpoint Distribution
      description: This endpoint retrieves endpoint connection type distribution by enterprise.
      operationId: getEndpointDistribution
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"creation_time\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"creation_time\"}]"
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsEndpointDistribution'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/meetings/usage:
     get:
      summary: Meeting Usage Over Time
      description: This endpoint reports on meeting usage.
      operationId: getMeetingUsage
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: clientTZ
          in: query
          description: Based on standard TZ code.
          default: America/Denver
          type: string
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"string\",\"comparison\":\"eq\",\"value\":\"DAY\",\"field\":\"groupInterval\"},{\"type\":\"date\",\"comparison\":\"eq\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"lowts\"},{\"type\":\"date\",\"comparison\":\"eq\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"hights\"}]"
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsUsage'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/roi_ranges:
     get:
      summary: ROI Data
      description: This endpoint lists return on investment (ROI) data for meetings.
      operationId: getRoiRanges
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"startTime\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"startTime\"}]"
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsRoiData'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/feedback/count:
     get:
      summary: Survey Feedback Scores
      description: This endpoint lists end of meeting survey scores by enterprise by time period.
      operationId: getFeedbackCount
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: start
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2017-01-01T00:00:00-00:00"
          required: true
          type: string
        - name: end
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2018-01-01T00:00:00-00:00"
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsFeedbackScores'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/feedback/comments:
     get:
      summary: Survey Feedback Comments
      description: This endpoint lists end of meeting survey comments by enterprise by time period.
      operationId: getFeedbackComments
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: start
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2017-01-01T00:00:00-00:00"
          required: true
          type: string
        - name: end
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2018-01-01T00:00:00-00:00"
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsFeedbackComments'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/developer_applications:
    post:
      summary: Create Client Application
      description: This endpoint creates a client application for use in 3-legged OAuth2 authorization.
      operationId: createClientApplication
      tags:
        - Application
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: application
          in: body
          description: The information about the new client application.
          required: true
          schema:
            $ref: '#/definitions/Application'
      responses:
        '201':
          description: The new application.
          schema:
            $ref: '#/definitions/Application'
        '401':
          description: The access token is invalid or does not have permission.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/developer_applications/{client_id}:
    put:
      summary: Update Client Application
      description: This endpoint updates a client application for use in 3-legged OAuth2 authorization.
      operationId: updateClientApplication
      tags:
        - Application
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: client_id
          in: path
          description: The ID of the client application of interest. This value was given as a response during client application creation.
          required: true
          type: string
        - name: application
          in: body
          description: The information about the new client application.
          required: true
          schema:
            $ref: '#/definitions/Application'
      responses:
        '200':
          description: The new application.
          schema:
            $ref: '#/definitions/Application'
        '401':
          description: The access token is invalid or does not have permission.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/developer_applications/{client_id}/secret:
    put:
      summary: Regenerate Client Application Secret
      description: This endpoint forces the regeneration of a client application secret for use in 3-legged OAuth2 authorization.
      operationId: regenerateClientApplicationSecret
      tags:
        - Application
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: client_id
          in: path
          description: The ID of the client application of interest. This value was given as a response during client application creation.
          required: true
          type: string
      responses:
        '200':
          description: The new application secret.
          schema:
            $ref: '#/definitions/ApplicationSecret'
        '401':
          description: The access token is invalid or does not have permission.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  GrantRequestPassword:
    type: object
    properties:
      grant_type:
        type: string
        default: password
        description: The type of access token you are requesting.
      username:
        type: string
        description: Your user name that you use to login to our site.
      password:
        type: string
        description: Your user password that you use to login to our site.
        format: password
    required:
      - grant_type
      - username
      - password
  GrantPassword:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      refresh_token:
        type: string
      scope:
        type: object
        properties:
          user:
            type: integer
            description: The ID of your user.
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
  GrantRequestMeeting:
    type: object
    properties:
      grant_type:
        type: string
        default: meeting_passcode
        description: The type of access token you are requesting.
      meetingNumericId:
        type: string
        description: Meeting ID
      meetingPasscode:
        type: string
        description: Pin
    required:
      - grant_type
      - meetingNumericId
      - meetingPasscode
  GrantMeeting:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      scope:
        type: object
        properties:
          meeting:
            type: object
            properties:
              id:
                type: integer
              leaderId:
                type: integer
              meetingNumericId:
                type: string
              meetingUri:
                type: string
              isModerator:
                type: boolean
              endpointUriSet:
                type: array
                items:
                  type: object
              meetingId:
                type: string
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
  GrantRequestClient:
    type: object
    properties:
      grant_type:
        type: string
        default: client_credentials
        description: The type of access token you are requesting.
      client_id:
        type: string
        description: The value given within the BlueJeans Enterprise Administration console.
      client_secret:
        type: string
        description: The value given within the BlueJeans Enterprise Administration console.
    required:
      - grant_type
      - client_id
      - client_secret
  GrantClient:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      scope:
        type: object
        properties:
          enterprise:
            type: integer
            description: The ID of your enterprise.
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
  GrantRequestCode:
    type: object
    properties:
      grant_type:
        type: string
        default: authorization_code
        description: The type of access token you are requesting. Use "authorization_code".
      client_id:
        type: string
        description: The client ID will be generated on creation of the application. Normally, a 32 character hexadecimal numeric string.
      client_secret:
        type: string
        description: The client secret will be generated on creation of the application. Retain this value as it will only be revealed one time. If lost, you will need to regenerate.
      redirectUri:
        type: string
        description: One of the registered url or sub-url of registered urls.
      code:
        type: string
        description: Code obtained after /oauth2/authorize redirect.
    required:
      - grant_type
      - client_id
      - client_secret
      - redirectUri
      - code
  GrantCode:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      refresh_token:
        type: string
        description: A longer lasting token that may be used to retrieve new access tokens upon access token expiration.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      scope:
        type: object
        properties:
          user:
            type: integer
            description: The ID of your user.
          appPermissions:
            type: array
            items:
              type: object
              properties:
                method:
                  type: string
                allowedRegex:
                  type: string
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
          bearerPermissions:
            type: string
            description: Comma-delimited list of scopes authorized by this token.
          clientId:
            type: string
            description: The client ID will be generated on creation of the application. Normally, a 32 character hexadecimal numeric string.
  GrantRequestRefresh:
    type: object
    properties:
      grant_type:
        type: string
        default: refresh_token
        description: The type of access token you are requesting.
      client_id:
        type: string
        description: The client ID will be generated on creation of the application. Normally, a 32 character hexadecimal numeric string.
      client_secret:
        type: string
        description: The client secret will be generated on creation of the application. Retain this value as it will only be revealed one time. If lost, you will need to regenerate.
      refresh_token:
        type: string
        description: Refresh token obtained after token authorization.
    required:
      - grant_type
      - client_id
      - client_secret
      - refresh_token
  GrantRefresh:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      refresh_token:
        type: string
        description: A longer lasting token that may be used to retrieve new access tokens upon access token expiration.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      scope:
        type: object
        properties:
          user:
            type: integer
            description: The ID of your user.
          appPermissions:
            type: array
            items:
              type: object
              properties:
                method:
                  type: string
                allowedRegex:
                  type: string
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
          bearerPermissions:
            type: string
            description: Comma-delimited list of scopes authorized by this token.
  GrantRequestRevoke:
    type: object
    properties:
      client_id:
        type: string
        description: The client ID will be generated on creation of the application. Normally, a 32 character hexadecimal numeric string.
      client_secret:
        type: string
        description: The client secret will be generated on creation of the application. Retain this value as it will only be revealed one time. If lost, you will need to regenerate.
    required:
      - client_id
      - client_secret
  Partition:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  User:
    type: object
    properties:
      id:
        type: integer
        description: Unique identifier for the user.
        readOnly: true
      username:
        type: string
        description: User's username
      firstName:
        type: string
        description: User's first name
      middleName:
        type: string
        description: User's middle name
      lastName:
        type: string
        description: User's last name
      emailId:
        type: string
        description: User's email address
      company:
        type: string
        description: User's company name
      title:
        type: string
        description: User's title
      phone:
        type: string
        description: User's phone
      profilePicture:
        type: string
        description: Path to user's profile picture
      timezone:
        type: string
        description: User's timezone
      timeFormat:
        type: integer
        description: User's preference of 12 or 24 hour time display
      language:
        type: string
        description: User's language code
  Enterprise:
    type: object
    properties:
      id:
        type: integer
        description: Unique identifier for the user.
        readOnly: true
      enterprise:
        type: integer
        description: Unique identifier for the enterprise.
        readOnly: true
      enterpriseAdmin:
        type: boolean
        description: Is this user an administrator for this enterprise?
      joinDate:
        type: integer
        description: Date of enterprise join
      expiryDate:
        type: integer
        description: Date of expiration; null if not set
  EnterpriseUserList:
    type: object
    properties:
      count:
        type: integer
        description: The number of users in the result.
      users:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: The ID of this user.
            uri:
              type: string
              description: The URI of this user in order to fetch further details.
  UserId:
    type: object
    properties:
      id:
        type: integer
        description: The ID of the user.
  Room:
    type: object
    properties:
      id:
        type: integer
        description: Unique identifier for room.
        readOnly: true
      numericId:
        type: string
        description: Unique identifier for room.
      name:
        type: string
        description: Name of the room.
      originPopId:
        type: integer
      isLargeMeeting:
        type: boolean
      showVideoAnimations:
        type: boolean
      backgroundImage:
        type: string
[...]
