
swagger: "2.0"
info:
  title: BlueJeans Meetings REST API
  description: >
  
    ## Video That Works Where You Do.
  
    <p>This site provides developers access to APIs from BlueJean's Meetings meeting service.  From here you can see and try actual API calls to manage User Accounts, Meetings, and Recordings, pull Analytical Data and Current State information.</p>   

    <nosdk>
    <hr>
    <div>
    <div class="key">
        <a href="./basics.html" target="_"><img class="keyimg" src="./img/bjnmeeting.png"/></a>
    </div>
    <div class="keybox">
    Basic instructions about What is a BlueJeans Meeting, and Getting Started Using API's, are <a href="./basics.html" target="_blank">available here <i class="glyphicon glyphicon-new-window"></i></a>.
    </div>
    </div>
    <hr>
    
    <alert>2/21/2019</alert> Change response of Change layout and Endpoint API's to 204<br/>
    12/03/2018 Add API for setting user profile photograph.<br/>
    10/17/2018 Updated API field definitions for time variables to be 64-bit .<br/>
    7/23/2018 Corrected errors in API definition file.<br/>
    7/10/2018 Deprecated some Command Center API's.  Exposed API's that Summarize usage.<br/>
    7/06/2018 Added API for changing ownership of recordings.<br/>
    6/28/2018 Restored Create Enterprise Account, added Enterprise and User Profile Tag API's.<br/>
    6/01/2018 Clarified Access Token requirements for meeting endpoint API's.<br/>
    5/21/2018 Corrected return model for meeting history call.<br/>

    </nosdk>
 
    <hr>


  version: 1.0.4402212019
  termsOfService: https://www.bluejeans.com/terms-of-service
  license:
    name: Commercial
    url: https://www.bluejeans.com/site/terms-and-conditions
  contact:
    name: Glenn Inn
    url: http://bluejeans.com/
    email: glenn@bluejeans.com
host: api.bluejeans.com
tags:
- name: Authentication
  description: Initiate a session with BlueJeans
- name: User
  description: Manage End User Accounts
- name: Enterprise
  description: Manage User Accounts in Enterprise
- name: Meeting
  description: Manage Video Meetings and Endpoints
- name: History
  description: Access Historical Meeting Data
- name: Recording
  description: Manage Meeting Recordings
- name: Command Center
  description: Access Status of Current Meetings & Enterprise Usage Information
- name: Application
  description: OAuth 3-Legged Operations
schemes:
- https
produces:
- application/json
security:
- access_token: []
paths:
# ---- AUTHENTICATION
  /oauth2/token?Password:
    post:
      tags:
      - Authentication
      summary: Authentication via Password Grant Type
      description: This API performs an authentication based upon a username and password.   Call this API and provide a valid username and password. <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**password**" (string).
      operationId: getTokenByPassword
      consumes:
      - application/json
      parameters:
      - in: body
        name: GrantRequestPassword
        description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *password*.
        required: true
        schema:
          $ref: '#/definitions/GrantRequestPassword'
      responses:
        200:
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantPassword'
          responseSchema:
            $ref: '#/definitions/GrantPassword'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security: []
  /oauth2/token?Meeting:
    post:
      tags:
      - Authentication
      summary: Authentication via Meeting Grant Type
      description: This API uses an OAuth-like grant/request method similar to the Password grant type.  The API returns an access token whose scope is limited to the meeting only. <br />Call this API with the meeting's numeric ID, and the meeting passcode (if one exists). <br />&nbsp;&nbsp;If you call the API with a Moderator passcode, moderator privileges are granted. <br />&nbsp;&nbsp;If an Attendee access code is passed, the access token will grant attendee abilities.<br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**meeting_passcode**" (string).
      operationId: getTokenByMeeting
      consumes:
      - application/json
      parameters:
      - in: body
        name: GrantRequestMeeting
        description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *meeting_passcode*.
        required: true
        schema:
          $ref: '#/definitions/GrantRequestMeeting'
      responses:
        200:
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantMeeting'
          responseSchema:
            $ref: '#/definitions/GrantMeeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security: []
  /oauth2/token?Client:
    post:
      tags:
      - Authentication
      summary: Authentication via Client Grant Type
      description: This API is typically called from an application that needs to make API requests.  The values for the calling parameters, Client ID, and Secret, are provisioned within the BlueJeans Enterprise Administration console.  A BlueJeans administrator must generate these parameters and provide them to the customer/developer. <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**client_credentials**" (string).
      operationId: getTokenByClient
      consumes:
      - application/json
      parameters:
      - in: body
        name: GrantRequestClient
        description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *client_credentials*.
        required: true
        schema:
          $ref: '#/definitions/GrantRequestClient'
      responses:
        200:
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantClient'
          responseSchema:
            $ref: '#/definitions/GrantClient'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security: []
  /oauth2/token?Code:
    post:
      tags:
      - Authentication
      summary: Authentication via Code Grant Type
      description: This API is part of the 3-legged OAuth 2.0 authorization flow.  The user will be redirected here after successfully authorizing BlueJeans to grant the application access.  You must pass to this API the authorization code received from BlueJeans along with the applications OAuth client_id and secret keys.  Include as well a *success URL* to which the user will be redirected upon successful authentication. <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**authorization_code**" (string).
      operationId: getTokenByCode
      consumes:
      - application/json
      parameters:
      - in: body
        name: GrantRequestCode
        description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *authorization_code*.
        required: true
        schema:
          $ref: '#/definitions/GrantRequestCode'
      responses:
        200:
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantCode'
          responseSchema:
            $ref: '#/definitions/GrantCode'
        401:
          description: The code token is invalid or has expired.  The code is only good for 30 seconds!
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security: []
  /oauth2/token?Refresh:
    post:
      tags:
      - Authentication
      summary: Authentication via Refresh Grant Type
      description: This API is part of the 3-legged OAuth 2.0 authorization flow.  It only works for access tokens obtained via /oauth2/token?Code endpoint. It allows an application to refresh an existing access token.  You must pass to this API your OAuth client and secret keys as well as the current access token being refreshed.  <br />**NOTE:** <br />&nbsp;&nbsp;When calling this API, you must set the field, **grant_type** to equal "**refresh_token**" (string).
      operationId: getTokenByRefresh
      consumes:
      - application/json
      parameters:
      - in: body
        name: GrantRequestRefresh
        description: Contains information about the type of grant you are requesting.  **Remember**, the field *grant_type* must be set to *refresh_token*.
        required: true
        schema:
          $ref: '#/definitions/GrantRequestRefresh'
      responses:
        200:
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantRefresh'
          responseSchema:
            $ref: '#/definitions/GrantRefresh'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
  /oauth2/token?Revoke:
    delete:
      tags:
      - Authentication
      summary: Revoke Access Token
      description: This API is part of the 3-legged OAuth 2.0 authorization flow.
      operationId: revokeAccessToken
      consumes:
      - application/json
      parameters:
      - name: access_token
        in: query
        required: false
        type: string
      - in: body
        name: GrantRequestRevoke
        description: Contains information about the type of grant you are revoking.
        required: true
        schema:
          $ref: '#/definitions/GrantRequestRevoke'
      responses:
        204:
          description: The information about the grant.
        400:
          description: Bad request. The access_token is probably already revoked and cannot be found. Use /oauth2/tokenInfo to query a token's validity if needed.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
  /oauth2/tokenInfo:
    get:
      tags:
      - Authentication
      summary: Validate a Token
      description: This endpoint will determine if a token is valid or not.  If the token is valid, it returns the user ID for the owner of the token.
      operationId: getTokenInfo
      consumes:
      - application/json
      parameters:
      - name: access_token
        in: query
        required: false
        type: string
      responses:
        200:
          description: Any information about the token.
          schema:
            $ref: '#/definitions/inline_response_200'
          responseSchema:
            type: object
            properties:
              user:
                type: integer
                description: The ID of the user who this token corresponds to.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security: []
  /oauth2/authorize:
    get:
      tags:
      - Authentication
      summary: Get Authorization Code
      description: This is **not a true REST endpoint**. <br /> This URL should be used by a user's browser-client application to perform authorization. <br />This API call takes the user to a BlueJeans page that allows the user to login and approve application access.<br />Upon completion, the user will be redirected back to the client application with a code return value. <br />**Note**<ul><li>This API is activated through <b> https://bluejeans.com/oauth2/authorize </b></li><li>The API's return code has a very short valid period of <b>30 seconds</b>.</li><li>Your application must call the <b>/oauth2/token?Code</b> API as soon as possible to exchange the authorization code for an access token.</li></ul>
      operationId: getAuthorizationCode
      parameters:
      - name: clientId
        in: query
        description: The 32 character client ID generated when you created the client application.
        required: false
        type: string
      - name: redirectUri
        in: query
        description: The URL where the authorization code will be returned via redirect.  The URL must match a URL registered with the client application.
        required: false
        type: string
      - name: state
        in: query
        description: Client application specific state passed through and returned in the redirect URL. May be useful for identifying operations or users.
        required: false
        type: string
      - name: scope
        in: query
        description: A comma delimited list of scopes requested. Scopes may be list_meetings, modify_meetings, user_info. Unfortunately, not all operations in the API are available via this authentication method at the current time.
        required: false
        type: string
      - name: responseType
        in: query
        description: The type of authorization you are peforrming.  Set to "code".
        required: false
        type: string
        default: code
      - name: appName
        in: query
        description: The name of the client application shown to user during authorization.
        required: false
        type: string
      - name: appLogoUrl
        in: query
        description: URL to an 84x84 image shown to user during authorization.
        required: false
        type: string
      responses:
        200:
          description: This URL should be invoked by the user of the client application in a browser, not via API.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security: []
# ---- USER
  /v1/user/{user_id}:
    get:
      tags:
      - User
      summary: Get User Account Details
      description: This endpoint retrieves the basic account details for a given user.
      operationId: getUser
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The settings for the user
          schema:
            $ref: '#/definitions/User'
          responseSchema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - User
      summary: Update User Account Details
      description: This endpoint allows updating a user’s basic account details.
      operationId: updateUser
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - in: body
        name: user
        description: The user details that you wish to update.
        required: true
        schema:
          $ref: '#/definitions/User'
      responses:
        200:
          description: The settings for the user
          schema:
            $ref: '#/definitions/User'
          responseSchema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/granted_applications:
    get:
      tags:
      - User
      summary: Get Granted Applications
      description: This endpoint retrieves the granted applications associated with the user.
      operationId: getGrantedApplications
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The granted applications for the user.
          schema:
            $ref: '#/definitions/GrantedApplications'
          responseSchema:
            $ref: '#/definitions/GrantedApplications'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/granted_applications/{client_id}:
    delete:
      tags:
      - User
      summary: Remove Granted Application
      description: This endpoint revokes the granted application associated with the user.
      operationId: revokeGrantedApplication
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: client_id
        in: path
        description: The ID of the granted application.
        required: true
        type: string
      responses:
        204:
          description: The granted applications for the user.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/enterprise_profile:
    get:
      tags:
      - User
      summary: Get Enterprise Profile
      description: This endpoint retrieves the enterprise profile associated with the user.
      operationId: getEnterpriseProfile
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The settings for the user's enterprise association.
          schema:
            $ref: '#/definitions/Enterprise'
          responseSchema:
            $ref: '#/definitions/Enterprise'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/groups:
    get:
      tags:
      - User
      summary: Get User Feature Groups
      description: This endpoint retrieves the feature groups associated with the user.
      operationId: getGroups
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The feature groups the user belongs to.
          schema:
            type: array
            items:
              type: string
          responseSchema:
            type: array
            items:
              type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - User
      summary: Set User Feature Groups
      description: This endpoint sets the feature groups associated with the user.
      operationId: setGroups
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: enable
        in: query
        description: The feature group you want to enable.
        required: false
        type: string
        enum:
        - record
        - extended_capacity
        - lync
        - jabber
        - telepresence
        - isdn
        - facetime
      - name: disable
        in: query
        description: The feature group you want to disable.
        required: false
        type: string
        enum:
        - record
        - extended_capacity
        - lync
        - jabber
        - telepresence
        - isdn
        - facetime
      responses:
        200:
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/room:
    get:
      tags:
      - User
      summary: Get User’s Default Meeting Settings
      description: This endpoint gets a user’s default meeting settings.
      operationId: getRoom
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
          responseSchema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    post:
      tags:
      - User
      summary: Create User’s Default Meeting Settings
      description: This endpoint creates the user’s default meeting settings.
      operationId: createRoom
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - in: body
        name: room
        description: The user's room details
        required: true
        schema:
          $ref: '#/definitions/Room'
      responses:
        200:
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
          responseSchema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - User
      summary: Update User’s Default Meeting Settings
      description: This endpoint allows updating a user’s default meeting settings.
      operationId: updateRoom
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - in: body
        name: room
        description: The user's room details that you wish to update.
        required: true
        schema:
          $ref: '#/definitions/Room'
      responses:
        200:
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
          responseSchema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/personal_meeting:
    get:
      tags:
      - User
      summary: Get Personal Meeting
      description: This endpoint gets the settings for a user's personal meeting.
      operationId: getPersonalMeeting
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/PersonalMeetingRoom'
          responseSchema:
            $ref: '#/definitions/PersonalMeetingRoom'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - User
      summary: Update Personal Meeting
      description: This endpoint changes the settings for a user's personal meeting.
      operationId: updatePeresonalMeeting
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest.  This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - in: body
        name: personalMeeting
        description: The user's personal meeting room details that you wish to update.
        required: true
        schema:
          $ref: '#/definitions/PersonalMeetingRoom'
      responses:
        200:
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/PersonalMeetingRoom'
          responseSchema:
            $ref: '#/definitions/PersonalMeetingRoom'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{userId}/tags:
    get:
      tags:
      - User
      summary: List User Tags
      description: This endpoint retrieves all tags associated with the specified user.
      operationId: getUserTags
      parameters:
      - name: userId
        in: path
        description: The user ID for the account to retrieve tags.  This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The list of tags
          schema:
            $ref: '#/definitions/tagListComp'
          responseSchema:
            $ref: '#/definitions/tagListComp'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - User
      summary: Set User Tags
      description: This endpoint modifies the list of tags associated with the specified user. <b>NOTE</b> Adding a tag that is not defined in the user's Enterprise returns a 200 (success) status code.  It is recommended you validate the returned list of tags.
      operationId: changeUserTags
      parameters:
      - name: userId
        in: path
        description: The user ID for the account to retrieve tags.  This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: action
        in: query
        description: Type of operation to be done
        required: true
        type: string
        enum:
        - add
        - delete
      - name: tag
        in: query
        description: The name of tag
        required: true
        type: string
      responses:
        200:
          description: The list of tags
          schema:
            $ref: '#/definitions/tagListComp'
          responseSchema:
            $ref: '#/definitions/tagListComp'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/profile_picture/upload:
    post:
      tags:
      - User
      summary: Update User Account Photograph
      description: This endpoint uploads a photograph to the user profile
      consumes: multipart/form-data
      operationId: updateUserProfilePicture
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: file
        in: formData        
        type: file
        description: The user details that you wish to update.
        required: true
      responses:
        200:
          description: The response of uploading the picture
          schema:
            $ref: "#/definitions/uploadPhotoResponse"
        405:
          description: Invalid request
        500:
          description: Internal Server Error
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
# ---- ENTERPRISE
  /v1/enterprise/{enterpriseId}/users:
    get:
      tags:
      - Enterprise
      summary: Search for User(s)
      description: This endpoint provides a search facility for the specified enterprise.  <ul><li>If textSearch is provided, the results will be a partial string-match search of the given textSearch value.</li><li> Otherwise, the search will return an exact lookup by emailId.</li></ul>
      operationId: searchUsers
      parameters:
      - name: enterpriseId
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: fields
        in: query
        description: A comma-separated list one or more of these BlueJeans enteprise profile fields to include in the API responses- username, firstName, middleName, lastName, isEnterpriseAdmin, enterpriseJoinDate, email
        required: false
        type: string
      - name: order
        in: query
        description: If specificed, order defines how the API sorts results- ascending or descending
        required: false
        type: string
        enum:
        - asc
        - desc
      - name: sortBy
        in: query
        description: Name of BlueJeans profile field by with API response data is sorted
        required: false
        type: string
      - name: textSearch
        in: query
        description: If specified textSearch provides a string (partial or complete) by which to search the list of BlueJeans users
        required: false
        type: string
      - name: emailId
        in: query
        description: If specified, emailId specifies performing a search for the user profile associated with this email address.  Wildcards are <b>not</b> supported for the email address value.
        required: false
        type: string
      - name: pageSize
        in: query
        description: Sets number of items returned per page.
        required: false
        type: integer
      - name: pageNumber
        in: query
        description: Selects which page of results to return (1-based value)
        required: false
        type: integer
      responses:
        200:
          description: The settings for the user
          schema:
            $ref: '#/definitions/EnterpriseUserSearch'
          responseSchema:
            $ref: '#/definitions/EnterpriseUserSearch'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    post:
      tags:
      - Enterprise
      summary: Create User
      description: This endpoint creates a user profile within the specified enterprise.  It is the first of the 2-step process to create a BlueJeans user.  It should be followed by an API call to create the user's personal meeting room.
      operationId: createEnterpriseUser
      parameters:
      - name: enterpriseId
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: billingCategory
        in: query
        description: What general billing group does this profile belong?
        required: false
        type: string
        default: ENTERPRISE
      - name: forcePasswordChange
        in: query
        description: Create profile and force user to change password on next login
        required: false
        type: boolean
      - name: isAdmin
        in: query
        description: Create this account to have Administrative Privileges for the enterprise
        required: false
        type: boolean
      - in: body
        name: EnterpriseUser
        description: Basic Enterprise Account information
        required: true
        schema:
          $ref: '#/definitions/EnterpriseCreateUser'
      responses:
        201:
          description: The settings for the user
          schema:
            $ref: '#/definitions/UserId'
          responseSchema:
            $ref: '#/definitions/UserId'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/enterprise/{enterprise_id}/users/export:
    get:
      tags:
      - Enterprise
      summary: Export Enterprise Users
      description: This endpoint exports existing users into a CSV file.
      operationId: exportUsers
      produces:
      - text/csv
      parameters:
      - name: enterprise_id
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      responses:
        200:
          description: Returns a text/csv file. Not a JSON response.
        404:
          description: Enterprise not found
        406:
          description: Not acceptable. Usually, this is because you hava an accept header set to application/json and the server is trying to return you text/csv. So it is saying it cannot do what you want.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/enterprise/{enterprise_id}/users/{user_id}:
    delete:
      tags:
      - Enterprise
      summary: Remove Enterprise User
      description: This endpoint allows removing a user from an enterprise; it does not delete the user. Requires enterprise admin access level.
      operationId: removeUser
      parameters:
      - name: enterprise_id
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      responses:
        204:
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/enterprise/{enterpriseId}/tags:
    get:
      tags:
      - Enterprise
      summary: List Enterprise Tags
      description: This endpoint retrieves all profile tags defined for the specified enterprise.
      operationId: getEnterpriseTags
      parameters:
      - name: enterpriseId
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      responses:
        200:
          description: The list of tags
          schema:
            $ref: '#/definitions/tagListComp'
          responseSchema:
            $ref: '#/definitions/tagListComp'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Enterprise
      summary: Set Enterprise Tags
      description: This endpoint modifies the list of profile tags associated with the specified enterprise.
      operationId: changeEnterpriseTags
      parameters:
      - name: enterpriseId
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: action
        in: query
        description: Type of operation to be done
        required: true
        type: string
        enum:
        - add
        - delete
      - name: tag
        in: query
        description: The name of tag
        required: true
        type: string
      responses:
        200:
          description: The list of tags
          schema:
            $ref: '#/definitions/tagListComp'
          responseSchema:
            $ref: '#/definitions/tagListComp'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
# ---- MEETINGS
  /v1/user/{user_id}/scheduled_meeting:
    get:
      tags:
      - Meeting
      summary: List Meetings
      description: This endpoint gets a list of the user's scheduled upcoming meetings.
      operationId: listMeetings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numericMeetingId
        in: query
        description: Filter the results by the meeting ID that participants will see and use to join the conference.
        required: false
        type: string
      responses:
        200:
          description: A list of meetings.
          schema:
            type: array
            items:
              $ref: '#/definitions/Meeting'
          responseSchema:
            type: array
            items:
              $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    post:
      tags:
      - Meeting
      summary: Create Meeting
      description: This endpoint will create a scheduled meeting.
      operationId: createMeeting
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: email
        in: query
        description: If set to true, sends invitation emails to all listed participants.
        required: false
        type: boolean
      - in: body
        name: meeting
        description: The desired configuration for the meeting. (<b>NOTE</b> The model provided here is a <i>typical</i> minimum set of meeting parameters.)
        required: true
        schema:
          $ref: '#/definitions/scheduleMeetingMinComp'
      responses:
        201:
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
          responseSchema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}:
    get:
      tags:
      - Meeting
      summary: Get Meeting
      description: This endpoint gets the settings for a user's meeting.
      operationId: getMeeting
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property. This is not the numeric meeting ID visible to users.
        required: true
        type: integer
      responses:
        200:
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
          responseSchema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Meeting
      summary: Update Meeting
      description: This endpoint changes the settings for a user's meeting. For example, use for rescheduling.
      operationId: updateMeeting
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest.  This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - in: body
        name: meeting
        description: The user's room details that you wish to update.
        required: true
        schema:
          $ref: '#/definitions/Meeting'
      responses:
        200:
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
          responseSchema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    delete:
      tags:
      - Meeting
      summary: Cancel Meeting
      description: This endpoint deletes a scheuled meeting.
      operationId: cancelMeeting
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - name: email
        in: query
        description: Dispatch an email to participants with the specified cancellation message.
        required: false
        type: boolean
        default: false
      - name: cancellationMessage
        in: query
        description: Message sent to participants when meeting is deleted and email is selected
        required: false
        type: string
        default: null
      responses:
        200:
          description: No content.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}/emails:
    get:
      tags:
      - Meeting
      summary: Get Meeting Email
      description: This endpoint retrieves the email object for a scheduled meeting.
      operationId: getMeetingEmails
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - name: type
        in: query
        description: TEXT, ICS, HTML
        required: false
        type: string
        enum:
        - TEXT
        - ICS
        - HTML
      - name: role
        in: query
        description: moderator, participant
        required: false
        type: string
        enum:
        - moderator
        - participant
      - name: action
        in: query
        description: create, edit, delete
        required: false
        type: string
        enum:
        - create
        - edit
        - delete
      responses:
        200:
          description: The settings for the email.
          schema:
            $ref: '#/definitions/MeetingEmails'
          responseSchema:
            $ref: '#/definitions/MeetingEmails'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meetings/{meeting_id}/numbers:
    get:
      tags:
      - Meeting
      summary: Get Meeting Join Info
      description: This endpoint retrieves the join information for a scheduled meeting.
      operationId: getMeetingNumbers
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      responses:
        200:
          description: The settings for the join information.
          schema:
            $ref: '#/definitions/Numbers'
          responseSchema:
            $ref: '#/definitions/Numbers'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}:
    get:
      tags:
      - Meeting
      summary: Get Meeting State
      description: This endpoint’s purpose is to return whether the meeting is in progress or not.
      operationId: getMeetingState
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      responses:
        200:
          description: The settings for the meeting state.
          schema:
            $ref: '#/definitions/MeetingState'
          responseSchema:
            $ref: '#/definitions/MeetingState'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Meeting
      summary: Update Meeting State
      description: This endpoint’s purpose is to be able to modify a meeting. Actions include locking the meeting, or terminating the meeting.  This API requires a meeting access token with moderator privileges.
      operationId: updateMeetingState
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: delay
        in: query
        description: Number of seconds to delay the end meeting operation.
        required: false
        type: integer
      - in: body
        name: PayloadMeetingState
        description: The meeting properties that you wish to update.
        required: true
        schema:
          $ref: '#/definitions/PayloadMeetingState'
      responses:
        204:
          description: Changes made, no response data sent.
          schema:
            $ref: '#/definitions/Meeting'
          responseSchema:
            $ref: '#/definitions/Meeting'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/endpoints:
    get:
      tags:
      - Meeting
      summary: List Meeting Endpoints
      description: This endpoint returns an array of all endpoints in the current meeting.  Can use either of a general or meeting access token.
      operationId: getMeetingEndpoints
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      responses:
        200:
          description: The list of endpoints.
          schema:
            $ref: '#/definitions/Endpoints'
          responseSchema:
            $ref: '#/definitions/Endpoints'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Meeting
      summary: Update Meeting Endpoints State
      description: This endpoint’s purpose is to be able to modify the endpoints in a meeting. Requires Meeting access token with moderator privileges
      operationId: updateMeetingEndpoints
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: mute
        in: query
        description: Allows you to mute/unmute all participants in a meeting. Set mute to true to mute.  Set mute to false to unmute.
        required: false
        type: boolean
      - name: media
        in: query
        description: Specify the type of media you which to mute/unmute.
        required: false
        type: string
        enum:
        - audio
        - video
      responses:
        204:
          description: There is no body conent.
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/endpoints/{endpoint_guid}:
    get:
      tags:
      - Meeting
      summary: Get Endpoint Information
      description: This endpoint allows you to retrieve information about an endpoint in the meeting.  Can use either of a general or meeting access token.
      operationId: getMeetingEndpoint
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: endpoint_guid
        in: path
        description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
        required: true
        type: string
      responses:
        200:
          description: The settings for the endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
          responseSchema:
            $ref: '#/definitions/Endpoint'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Meeting
      summary: Update Endpoint Video/Audio State
      description: This endpoint allows you to update an individual endpoint’s ability to send audio or video, and also allows removing an endpoint from the meeting. Requires Meeting access token with moderator privileges
      operationId: updateMeetingEndpoint
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: endpoint_guid
        in: path
        description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
        required: true
        type: string
      - name: muteAudio
        in: query
        description: Toggle the audio source mute.
        required: false
        type: boolean
      - name: muteVideo
        in: query
        description: Toggle the video source mute.
        required: false
        type: boolean
      - name: leaveMeeting
        in: query
        description: Remove the user from the meeting.
        required: false
        type: boolean
      responses:
        204:
          description: The endpoint's audio/video state was updated.
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/endpoints/{endpoint_guid}/layout:
    get:
      tags:
      - Meeting
      summary: Get Endpoint Layout
      description: This endpoint allows you to retrieve an individual endpoint’s current layout setting.  Can use either of a general or meeting access token.
      operationId: getEndpointLayout
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: endpoint_guid
        in: path
        description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
        required: true
        type: string
      responses:
        200:
          description: The settings for the endpoint's layout.
          schema:
            $ref: '#/definitions/Layout'
          responseSchema:
            $ref: '#/definitions/Layout'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Meeting
      summary: Update Endpoint Layout
      description: This endpoint allows you to update an individual endpoint’s current layout setting. Requires Meeting access token with moderator privileges
      operationId: updateEndpointLayout
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: endpoint_guid
        in: path
        description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
        required: true
        type: string
      - name: isLeader
        in: query
        required: false
        type: boolean
      - name: push
        in: query
        required: false
        description:  Push these changes to all participants.  Requires Meeting access token with moderator privileges.
        type: boolean
      - in: body
        name: Layout
        description: Specifies the video layout format.
        required: true
        schema:
          $ref: '#/definitions/Layout'        
      responses:
        204:
          description: The settings for the endpoint's layout.
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/pairing_code/SIP:
    post:
      tags:
      - Meeting
      summary: Generate Pairing Code (SIP)
      description: This endpoint generates a SIP pairing code that can be used to connect to a meeting. **Note:** call this API using a meeting access token
      operationId: generatePairingCodeSip
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - in: body
        name: PayloadPairingCodeSIP
        description: Information about the device that will be joining via SIP.
        required: true
        schema:
          $ref: '#/definitions/PayloadPairingCodeSIP'
      responses:
        200:
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCodeSIP'
          responseSchema:
            $ref: '#/definitions/PairingCodeSIP'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/pairing_code/webrtc:
    post:
      tags:
      - Meeting
      summary: Generate Pairing Code (WebRTC)
      description: This endpoint generates a WebRTC pairing code that can be used to connect to a meeting. **Note:** call this API using a meeting access token
      operationId: generatePairingCodeWebRtc
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: role
        in: query
        required: false
        type: string
        default: USER
      - in: body
        name: PayloadPairingCodeWebRTC
        required: true
        schema:
          $ref: '#/definitions/PayloadPairingCodeWebRTC'
      responses:
        200:
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCodeWebRTC'
          responseSchema:
            $ref: '#/definitions/PairingCodeWebRTC'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/pairing_code/PSTN:
    post:
      tags:
      - Meeting
      summary: Generate Pairing Code (PSTN)
      description: This endpoint generates a PSTN pairing code that can be used to connect to a meeting via telephone. **Note:** call this API using a meeting access token
      operationId: generatePairingCodePstn
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - name: role
        in: query
        required: false
        type: string
        default: USER
      - in: body
        name: PayloadPairingCodePstn
        required: true
        schema:
          $ref: '#/definitions/PayloadPairingCodePstn'
      responses:
        200:
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCodePSTN'
          responseSchema:
            $ref: '#/definitions/PairingCodePSTN'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/dialout/pstn:
    post:
      tags:
      - Meeting
      summary: Dialout via PSTN
      description: Places a PSTN call to a user to join meeting. **Note:** call this API using a meeting access token
      operationId: dialoutPstn
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - in: body
        name: PayloadDialout
        required: true
        schema:
          $ref: '#/definitions/PayloadDialout'
      responses:
        200:
          description: Response with connection information.
          schema:
            $ref: '#/definitions/DialoutPstn'
          responseSchema:
            $ref: '#/definitions/DialoutPstn'
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{numeric_meeting_id}/invite:
    post:
      tags:
      - Meeting
      summary: Send Email Invite
      description: This endpoint generates an email invite to the specified meeting. **Note:** call this API using a meeting access token
      operationId: sendMeetingInvite
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: numeric_meeting_id
        in: path
        description: The meeting ID that participants will see and use to join the conference. When joining via phone, this is the code they enter via DTMF to join.
        required: true
        type: integer
      - in: body
        name: PayloadInvite
        required: true
        schema:
          $ref: '#/definitions/PayloadInvite'
      responses:
        202:
          description: Empty response on success.
        401:
          description: The access token is invalid or does not have permission.
        404:
          description: THe meeting was not found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history:
    get:
      tags:
      - History
      summary: List History by User
      description: This endpoint retrieves a list of meeting histories by the given user.
      operationId: listHistoryByUser
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meetingId
        in: query
        description: Return only meetings with the specified meeting numeric ID.
        required: false
        type: string
      - name: startDate
        in: query
        description: Return meetings starting from the specified date. MM/DD/YYYY
        required: false
        type: string
      - name: endDate
        in: query
        description: Return meetings up until the specified date. MM/DD/YYYY
        required: false
        type: string
      - name: pageSize
        in: query
        description: Sets number of items returned per page.
        required: false
        type: integer
      - name: pageNumber
        in: query
        description: Selects which page of results to return.
        required: false
        type: integer
      - name: order
        in: query
        description: Puts results in ascending or descending order. asc/desc
        required: false
        type: string
      responses:
        200:
          description: List of meeting history objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
          responseSchema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
        404:
          description: No matches found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/enterprise/{enterprise_id}/meeting_history:
    get:
      tags:
      - History
      summary: List History by Enterprise
      description: This endpoint retrieves a list of meeting histories by the given enterprise.
      operationId: listHistoryByEnterprise
      parameters:
      - name: enterprise_id
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      responses:
        200:
          description: List of meeting history objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
          responseSchema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
# ---- RECORDINGS
  /v1/user/{user_id}/meeting_history/recordings:
    get:
      tags:
      - History
      summary: List Meeting Recordings
      description: This endpoint retrieves a list of meeting recordings.
      operationId: listRecordings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: pageSize
        in: query
        description: Sets number of items returned per page.
        required: false
        type: integer
        default: 10
      - name: pageNumber
        in: query
        description: Selects which page of results to return.
        required: false
        type: integer
        default: 1
      - name: sortBy
        in: query
        description: Selects which page of results to return.
        required: false
        type: string
        default: start_time
      - name: order
        in: query
        description: Puts results in ascending or descending order.
        required: false
        type: string
        default: desc
        enum:
        - asc
        - desc
      responses:
        200:
          description: The results for the request.
          schema:
            type: array
            items:
              $ref: '#/definitions/RecordingSummary'
          responseSchema:
            type: array
            items:
              $ref: '#/definitions/RecordingSummary'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/recordings/{recording_entity_id}:
    get:
      tags:
      - History
      summary: Get Recording
      description: This endpoint retrieves the details about a meeting recording.
      operationId: getRecording
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: recording_entity_id
        in: path
        description: The ID of the meeting recording. This value is shown in meeting recording lists as recordingEntityId.
        required: true
        type: integer
      responses:
        200:
          description: The results for the request.
          schema:
            $ref: '#/definitions/Recording'
          responseSchema:
            $ref: '#/definitions/Recording'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meeting_guid}:
    get:
      tags:
      - History
      summary: Get Meeting History by User
      description: This endpoint retrieves the meeting history for a specific instance of a meeting.
      operationId: getHistoryByUser
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_guid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
        required: true
        type: string
      responses:
        200:
          description: The meeting history object.
          schema:
            $ref: '#/definitions/MeetingHistory'
          responseSchema:
            $ref: '#/definitions/MeetingHistory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/enterprise/{enterprise_id}/meeting_history/{meeting_guid}:
    get:
      tags:
      - History
      summary: Get Meeting History by Enterprise
      description: This endpoint retrieves the meeting history for a specific instance of a meeting.
      operationId: getHistoryByEnterprise
      parameters:
      - name: enterprise_id
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: meeting_guid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
        required: true
        type: string
      responses:
        200:
          description: The meeting history object.
          schema:
            $ref: '#/definitions/MeetingHistory'
          responseSchema:
            $ref: '#/definitions/MeetingHistory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meeting_guid}/sharing:
    get:
      tags:
      - History
      summary: Get Meeting History Sharing by User
      description: This endpoint retrieves the meeting history sharing for a specific instance of a meeting.
      operationId: getHistorySharingByUser
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_guid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
        required: true
        type: string
      responses:
        200:
          description: The meeting history sharing object.
          schema:
            $ref: '#/definitions/MeetingHistorySharing'
          responseSchema:
            $ref: '#/definitions/MeetingHistorySharing'
        404:
          description: Sharing is not allowed. Recording marked private.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings:
    post:
      tags:
      - Recording
      summary: Start Recording
      description: This endpoint starts recording for a meeting in progress. Note that this is a POST operation. Stop is a PUT operation.
      operationId: startRecording
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - name: action
        in: query
        description: Always set to "start" in order to start recording.
        required: true
        type: string
        default: start
        enum:
        - start
      responses:
        204:
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    put:
      tags:
      - Recording
      summary: Stop Recording
      description: This endpoint stops recording for a meeting in progress. Note that this is a PUT operation. Start is a POST operation.
      operationId: stopRecording
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - name: action
        in: query
        description: Always set to "stop" in order to stop recording.
        required: true
        type: string
        default: stop
        enum:
        - stop
      responses:
        204:
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meeting_id}/recordings:
    get:
      tags:
      - Recording
      summary: Get All Recordings for a Specified Meeting ID
      description: This endpoint lists the recordings for a meeting.
      operationId: getMeetingRecordings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - name: meetingGuid
        in: query
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
        required: false
        type: string
      responses:
        200:
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/RecordingHistoryList'
          responseSchema:
            $ref: '#/definitions/RecordingHistoryList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meeting_guid}/recordings/:
    delete:
      tags:
      - Recording
      summary: Delete All Recordings for a Specified Meeting GUID
      description: |
        This endpoint stops recording for a meeting in progress.
      operationId: deleteAllRecordingsByMeetingGuid
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_guid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
        required: true
        type: string
      responses:
        200:
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/Meeting'
          responseSchema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meeting_id}/recordings/{recording_chapter_id}/:
    delete:
      tags:
      - Recording
      summary: Delete a Specified Recording Chapter
      description: This endpoint stops recording for a meeting in progress.
      operationId: deleteRecordingChapter
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meeting_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      - name: recording_chapter_id
        in: path
        description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
        required: true
        type: integer
      responses:
        200:
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/Meeting'
          responseSchema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meetingGuid}/sharing/:
    get:
      tags:
      - Recording
      summary: List Recording Sharing
      description: This endpoint retrieves a the sharing authorization information for a meeting's recording. If no sharing has been authorized for the meeting, this API returns a 404 error.
      operationId: getShareRecordings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meetingGuid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes.
        required: true
        type: string
      responses:
        200:
          description: The results for the request.
          schema:
            $ref: '#/definitions/meetingSharing'
          responseSchema:
            $ref: '#/definitions/meetingSharing'
        404:
          description: Sharing authorization has not been created
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    post:
      tags:
      - Recording
      summary: Enable Recording Sharing
      description: This endpoint creates a sharing authorization record for the specified meeting recording.
      operationId: createShareRecordings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meetingGuid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes.
        required: true
        type: string
      - in: body
        name: setSharing
        required: true
        schema:
          $ref: '#/definitions/setSharing'
      responses:
        201:
          description: The results for the request.
          schema:
            $ref: '#/definitions/meetingSharing'
          responseSchema:
            $ref: '#/definitions/meetingSharing'
        400:
          description: Sharing authorization already created, use PUT to modify
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
    delete:
      tags:
      - Recording
      summary: Delete Recording Sharing
      description: This endpoint deletes the sharing authorization associated with a meeting recording.
      operationId: deleteShareRecordings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meetingGuid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes.
        required: true
        type: string
      responses:
        204:
          description: The sharing authorization has been deleted
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/{meetingGuid}/sharing/{sharingId}:
    put:
      tags:
      - Recording
      summary: Modify Recording Sharing
      description: This endpoint modifieds the sharing authorization attributes for a meeting recording.
      operationId: modifyShareRecordings
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: meetingGuid
        in: path
        description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes.
        required: true
        type: string
      - name: sharingId
        in: path
        description: The identifier of the sharing authorization record.  This value can be obtained from the "Id" in the response to the API GET /v1/user/{user_id}/meeting_history/{meetingGuid}/sharing
        required: true
        type: string
      - in: body
        name: modifySharing
        required: true
        schema:
          $ref: '#/definitions/modifySharing'
      responses:
        200:
          description: The results for the request.
          schema:
            $ref: '#/definitions/meetingSharing'
          responseSchema:
            $ref: '#/definitions/meetingSharing'
        400:
          description: Sharing authorization already created, use PUT to modify
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/cms/{content_id}:
    get:
      tags:
      - Recording
      summary: Get Recording Download Link
      description: This endpoint retrieves properties about the recording chapter.
      operationId: getRecordingContent
      parameters:
      - name: user_id
        in: path
        description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: content_id
        in: path
        description: The recording properties fetched with other API endpoints will return a compositeContentId or a contentId. That value can be used for this argument.
        required: true
        type: integer
      - name: isDownloadable
        in: query
        description: Set to true.
        required: true
        type: boolean
        default: true
      responses:
        200:
          description: The results for this content item.
          schema:
            $ref: '#/definitions/Content'
          responseSchema:
            $ref: '#/definitions/Content'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/user/{user_id}/meeting_history/move_recordings/from_user/{originalOwner}/to_user/{newOwner}:
    post:
      tags:
      - Recording
      summary: Move Recording Ownership
      description: This endpoint changes the ownership for all recordings from the original owner account and moves them to the new owner account.
      operationId: moveRecordingOwner
      parameters:
      - name: user_id
        in: path
        description: The ID of the user requesting the move.  This user must have Enterprise Administrator privileges.  This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
        required: true
        type: integer
      - name: originalOwner
        in: path
        description: The ID of the recording's current owner.
        required: true
        type: integer
      - name: newOwner
        in: path
        description: The ID of the intended owner for the recording.
        required: true
        type: integer
      responses:
        200:
          description: The results for the request.
          schema:
            $ref: '#/definitions/recordingMovedComp'
          responseSchema:
            $ref: '#/definitions/recordingMovedComp'
        405:
          description: Incorrect method.  Make sure you are calling API with POST method.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
# ---- COMMAND CENTER
  /v1/enterprise/{enterprise_id}/indigo/meetings/live:
    get:
      tags:
      - Command Center
      summary: Live Meetings Summary by Enterprise
      description: This endpoint lists meetings in progress by enterprise. Requires enterprise administrator access token
      operationId: getMeetingsLiveByEnterprise
      parameters:
      - name: enterprise_id
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: app_name
        in: query
        description: name of your application.  While not required, providing an app_name improves API performance
        required: false
        type: string
        default: api_developer
      responses:
        200:
          description: The results for this meeting.
          schema:
            $ref: '#/definitions/MeetingIndigoList'
          responseSchema:
            $ref: '#/definitions/MeetingIndigoList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
          responseSchema:
            $ref: '#/definitions/Error'
      security:
      - access_token: []
  /v1/enterprise/{enterprise_id}/indigo/meetings/live/{meeting_uuid}/endpoints/:
    get:
      tags:
      - Command Center
      summary: List Live Meeting Endpoints by Enterprise
      description: This endpoint lists endpoints for a given meeting in progress. Requires enterprise administrator access token
      operationId: getMeetingEndpointsLiveByEnterprise
      parameters:
      - name: enterprise_id
        in: path
        description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
        required: true
        type: integer
      - name: meeting_uuid
        in: path
        description: The universally unique identifier (UUID) of the meeting of interest. This value is a string which contains 6 alphanumeric segments separated by dashes.
        required: true
        type: string
      - name: app_name
        in: query
        description: name of your application.  While not required, providing an app_name improves API performance
        required: false
        type: string
        default: api_developer
      responses:
        200:
          description: The results for this enterprise.
          schema:
[...]
