swagger: '2.0'
info:
  title: BlueJeans onVideo REST API
  description: >
    _Video That Works Where You Do._
    Use these API's to quickly integrate **BlueJeans** video into your applications.  
     
    # Authentication

    Each API request that is sent to BlueJeans requires an access token, which is obtained through the BlueJeans Authentication API. There are several methods (grant types) for obtaining an access token, which follow the OAuth2.0 specification.

    ## Grant Types

    * Authorization Code Grant – This grant type is used in an authentication flow commonly referred to as "three-legged OAuth". The user authenticates via a BlueJeans page, which provides an authorization code. This code, along with a few other elements, can be used to obtain an access code.

    * Password Credentials Grant – This grant type is used in a two-legged OAuth flow. Username and password are sent to retrieve an access code.

    * Client Credentials Grant – This grant type is used in a two-legged OAuth flow.


    ## Access & Permissions

    The access level that is associated with each access token is referred to as the scope. There are three basic levels of access that BlueJeans allows, which affect the level of scope.


    Three access levels exist within the Blue Jeans service today.

    * Meeting-level – Authentication takes place using a meeting ID and passcode, and the scope is limited to APIs that relate to the individual meeting.

    * User-level – Authentication either takes place via three-legged OAuth, or else a direct authorization token request containing a username or password. Access level depends on the requested scope permissions.

    * App-level – An application is provisioned either by BlueJeans personnel, or within the BlueJeans Enterprise Admin interface. When provisioning an app, a client key and secret are provided, which is then used to obtain an access token, via the BlueJeans Authentication API. The scope that is associated with the token will provide access to an entire enterprise and all of its users.


    All endpoints in this document that require Enterprise Admin access will be marked as such.

    ## Testing

    In order to make effective use of this page, you will first use one of the authentication methods to obtain an access token. Once the token is given, use the Authorize button up in the header to store the token. Each BlueJeans API called after that will use the access token provided.

  termsOfService: Terms here
  license:
    name: Commercial
    url: https://www.bluejeans.com/site/terms-and-conditions
  version: 1.0.0
  contact:
    name: Brandon Fuller
    url: http://bluejeans.com/
    email: brandon@bluejeans.com
externalDocs:
  description: >
    Find more info here
  url: https://swagger.io
host: api.bluejeans.com
securityDefinitions:
  access_token:
    type: apiKey
    name: access_token
    in: query
security:
  - access_token: []
schemes:
  - https
produces:
  - application/json

tags:
  -
    name: Authentication
    description:  Initiate a session with BlueJeans
  -
    name: User
    description:  Manage End User Accounts
  -
    name: Enterprise
    description:  Manage Enterprise User Accounts
  -
    name: Meeting
    description:  Manage Video Meetings and Endpoints
  -
    name: History
    description:  Access Historical Meeting Data
  -
    name: Recording
    description:  Manage Meeting Recordings
  -
    name: Command Center
    description:  Access Status of Current Meetings
  -
    name: Analytics
    description:  Access Enterprise Usage Information

paths:
  /oauth2/token?Password:
    post:
      summary: Authentication via Password Grant Type
      description: An access token can be obtained by using a user’s username and password.
      operationId: getTokenByPassword
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestPassword
          description: Contains information about the type of grant you are requesting.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestPassword'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantPassword'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Meeting:
    post:
      summary: Authentication via Meeting Grant Type
      description: This is not a traditional OAuth grant type, but it behaves closely to the password grant type. This level of authentication allows for obtaining access to the meeting only. If a Moderator passcode is sent, moderator privileges are granted. If an Attendee access code is passed, the access token will have a limited scope of access that an attendee has within a meeting.
      operationId: getTokenByMeeting
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestMeeting
          description: Contains information about the type of grant you are requesting.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestMeeting'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantMeeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /oauth2/token?Client:
    post:
      summary: Authentication via Client Grant Type
      description: This grant type is commonly used by an app. Client ID and Secret are provisioned within the BlueJeans Enterprise Administration console.
      operationId: getTokenByClient
      tags:
        - Authentication
      consumes:
        - application/json
      parameters:
        - name: GrantRequestClient
          description: Contains information about the type of grant you are requesting.
          in: body
          required: true
          schema:
            $ref: '#/definitions/GrantRequestClient'
      responses:
        '200':
          description: The information about the grant.
          schema:
            $ref: '#/definitions/GrantClient'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}:
    get:
      summary: Get User Account Details
      description: This endpoint retrieves the basic account details for a given user.
      operationId: getUser
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the user
          schema:
            $ref: "#/definitions/User"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update User Account Details
      description: This endpoint allows updating a user’s basic account details.
      operationId: updateUser
      tags:
        - User
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: user
          in: body
          description: The user details that you wish to update.
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        '200':
          description: The settings for the user
          schema:
            $ref: "#/definitions/User"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/enterprise_profile:
    get:
      summary: Get Enterprise Profile
      description: This endpoint retrieves the enterprise profile associated with the user.
      operationId: getEnterpriseProfile
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the user's enterprise association.
          schema:
            $ref: "#/definitions/Enterprise"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/users:
    get:
      summary: List Enterprise Users
      description: This endpoint allows listing the users that are associated with an enterprise account. Requires enterprise admin access level.
      operationId: listUsers
      tags:
        - Enterprise
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: pageSize
          in: query
          description: Sets number of items returned per page.
          type: integer
        - name: pageNumber
          in: query
          description: Selects which page of results to return.
          type: integer
        - name: emailId
          in: query
          description: Allows filtering the response by a user’s email address.
          type: string
      responses:
        '200':
          description: The list of users in the enterprise.
          schema:
            $ref: "#/definitions/EnterpriseUserList"
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create Enterprise User
      description: This endpoint allows adding a user to an existing enterprise. Requires enterprise admin access level.
      operationId: createUser
      tags:
        - Enterprise
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: forcePasswordChange
          in: query
          description: Forces the user to change his or her password on first log in.
          type: boolean
        - name: sendVerificationMail
          in: query
          description: Prevents welcome emails from being sent to the newly created user.
          type: boolean
        - name: user
          in: body
          description: The information about the new user.
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '201':
          description: The new user.
          schema:
            $ref: '#/definitions/UserId'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/users/{user_id}:
    delete:
      summary: Remove Enterprise User
      description: This endpoint allows removing a user from an enterprise; it does not delete the user. Requires enterprise admin access level.
      operationId: removeUser
      tags:
        - Enterprise
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '204':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/room:
    get:
      summary: Get User’s Default Meeting Settings
      description: This endpoint gets a user’s default meeting settings.
      operationId: getRoom
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update User’s Default Meeting Settings
      description: This endpoint allows updating a user’s default meeting settings.
      operationId: updateRoom
      tags:
        - User
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: room
          in: body
          description: The user's room details that you wish to update.
          required: true
          schema:
            $ref: "#/definitions/Room"
      responses:
        '200':
          description: The default meeting settings.
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/scheduled_meeting:
    get:
      summary: List Meetings
      description: This endpoint gets a list of the user's scheduled upcoming meetings.
      operationId: listMeetings
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: A list of meetings. 
          schema:
            type: array
            items:
              $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create Meeting
      description: This endpoint will create a scheduled meeting.
      operationId: createMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: email
          in: query
          description: If set to true, sends invitation emails to all listed participants.
          type: boolean
        - name: meeting
          in: body
          description: The details of the meeting.
          required: true
          schema:
            $ref: "#/definitions/Meeting"
      responses:
        '201':
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}:
    get:
      summary: Get Meeting
      description: This endpoint gets the settings for a user's meeting.
      operationId: getMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property. This is not the numeric meeting ID visible to users.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Meeting
      description: This endpoint changes the settings for a user's meeting. For example, use for rescheduling.
      operationId: updateMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest.  This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: meeting
          in: body
          description: The user's room details that you wish to update.
          required: true
          schema:
            $ref: "#/definitions/Meeting"
      responses:
        '200':
          description: The settings for the meeting.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Cancel Meeting
      description: This endpoint deletes a scheuled meeting.
      operationId: cancelMeeting
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: No content.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}/emails:
    get:
      summary: Get Meeting Email
      description: This endpoint retrieves the email object for a scheduled meeting.
      operationId: getMeetingEmails
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: type
          in: query
          description: TEXT, ICS, HTML
          type: string
          enum:
            - TEXT
            - ICS
            - HTML
        - name: role
          in: query
          description: moderator, participant
          type: string
          enum:
            - moderator
            - participant
        - name: action
          in: query
          description: create, edit, delete
          type: string
          enum:
            - create
            - edit
            - delete
      responses:
        '200':
          description: The settings for the email.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meetings/{meeting_id}/numbers:
    get:
      summary: Get Meeting Join Info
      description: This endpoint retrieves the join information for a scheduled meeting.
      operationId: getMeetingNumbers
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the join information.
          schema:
            $ref: '#/definitions/Numbers'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}:
    get:
      summary: Get Meeting State
      description: This endpoint’s purpose is to return whether the meeting is in progress or not.
      operationId: getMeetingState
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: The settings for the meeting state.
          schema:
            $ref: '#/definitions/MeetingState'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Meeting State
      description: This endpoint’s purpose is to be able to modify a meeting.
      operationId: updateMeetingState
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: delay
          in: query
          description: Number of seconds to delay the end meeting operation.
          type: integer
        - name: PayloadMeetingState
          in: body
          description: The meeting properties that you wish to update.
          required: true
          schema:
            type: object
            properties:
              locked:
                type: boolean
                description: True to lock, false to unlock.
              status:
                type: string
                description: Set to "terminated" to end the meeting.
      responses:
        '200':
          description: TBD
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/endpoints:
    get:
      summary: List Meeting Endpoints
      description: This endpoint returns an array of all endpoints in the current meeting.
      operationId: getMeetingEndpoints
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: The list of endpoints.
          schema:
            $ref: '#/definitions/Endpoints'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Meeting Endpoints State
      description: This endpoint’s purpose is to be able to modify the endpoints in a meeting. Seems to require a Meeting-level access token.
      operationId: updateMeetingEndpoints
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: mute
          in: query
          description: Allows you to mute/unmute all participants in a meeting. Set mute to true to mute.  Set mute to false to unmute.
          type: boolean
        - name: media
          in: query
          description: Specify the type of media you which to mute/unmute.
          type: string
          enum:
            - audio
            - video
      responses:
        '204':
          description: There is no body conent.
        '401':
          description: The access token is invalid or does not have permission.
        '404':
          description: No active meeting found for this meeting ID.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/endpoints/{endpoint_guid}:
    get:
      summary: Get Endpoint Information
      description: This endpoint allows you to retrieve information about an endpoint in the meeting.
      operationId: getMeetingEndpoint
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
      responses:
        '200':
          description: The settings for the endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Endpoint Video/Audio State
      description: This endpoint allows you to update an individual endpoint’s ability to send audio or video, and also allows removing an endpoint from the meeting.
      operationId: updateMeetingEndpoint
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
        - name: muteAudio
          in: query
          description: Toggle the audio source mute.
          type: boolean
        - name: muteVideo
          in: query
          description: Toggle the video source mute.
          type: boolean
        - name: leaveMeeting
          in: query
          description: Remove the user from the meeting.
          type: boolean
      responses:
        '200':
          description: The settings for the enpoint.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/endpoints/{endpoint_guid}/layout:
    get:
      summary: Get Endpoint Layout
      description: This endpoint allows you to retrieve an individual endpoint’s current layout setting.
      operationId: getEndpointLayout
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
      responses:
        '200':
          description: The settings for the endpoint's layout.
          schema:
            $ref: '#/definitions/Layout'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update Endpoint Layout
      description: This endpoint allows you to update an individual endpoint’s current layout setting.
      operationId: updateEndpointLayout
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: endpoint_guid
          in: path
          description: The GUID of an endpoint.  Usually retrieved from the List Meeting Endpoints endpoint.
          required: true
          type: string
        - name: isLeader
          in: query
          type: boolean
        - name: push
          in: query
          type: boolean
      responses:
        '200':
          description: The settings for the endpoint's layout.
          schema:
            $ref: '#/definitions/Layout'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/pairing_code/sip:
    post:
      summary: Generate Pairing Code (SIP)
      description: This endpoint generates a SIP pairing code that can be used to connect to a meeting.
      operationId: generatePairingCodeSip
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: PayloadPairingCodeSIP
          in: body
          required: true
          schema:
            type: object
            properties:
              endpointType:
                type: integer
              userId:
                type: integer
              languageCode:
                type: string
                enum:
                  - en
              capabilities:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCode'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/pairing_code/webrtc:
    post:
      summary: Generate Pairing Code (WebRTC)
      description: This endpoint generates a WebRTC pairing code that can be used to connect to a meeting.
      operationId: generatePairingCodeWebRtc
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: role
          in: query
          type: string
          default: USER
        - name: PayloadPairingCodeWebRTC
          in: body
          required: true
          schema:
            type: object
            properties:
              endpointType:
                type: integer
              userId:
                type: integer
              languageCode:
                type: string
                enum:
                  - en
              capabilities:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: The pairing code information.
          schema:
            $ref: '#/definitions/PairingCode'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/invite:
    post:
      summary: Send Email Invite
      description: This endpoint generates an email invite to the specified meeting.
      operationId: sendMeetingInvite
      tags:
        - Meeting
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: PayloadInvite
          in: body
          required: true
          schema:
            type: object
            properties:
              invitees:
                type: array
                items:
                  type: string
      responses:
        '202':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history:
    get:
      summary: List History by User
      description: This endpoint retrieves a list of meeting histories by the given user.
      operationId: listHistoryByUser
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meetingId
          in: query
          description: Return only meetings with the specified meeting numeric ID.
          type: string
        - name: startDate
          in: query
          description: Return meetings starting from the specified date. MM/DD/YYYY
          type: string
        - name: endDate
          in: query
          description: Return meetings up until the specified date. MM/DD/YYYY
          type: string
        - name: pageSize
          in: query
          description: Sets number of items returned per page.
          type: integer
        - name: pageNumber
          in: query
          description: Selects which page of results to return.
          type: integer
        - name: order
          in: query
          description: Puts results in ascending or descending order. asc/desc
          type: string
      responses:
        '200':
          description: List of meeting history objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
        '404':
          description: No matches found.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/meeting_history:
    get:
      summary: List History by Enterprise
      description: This endpoint retrieves a list of meeting histories by the given enterprise.
      operationId: listHistoryByEnterprise
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: List of meeting history objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/MeetingHistory'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/recordings:
    get:
      summary: List Meeting Recordings
      description: This endpoint retrieves a list of meeting recordings.
      operationId: listRecordings
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: pageSize
          in: query
          description: Sets number of items returned per page.
          default: 10
          type: integer
        - name: pageNumber
          in: query
          description: Selects which page of results to return.
          default: 1
          type: integer
        - name: sortBy
          in: query
          description: Selects which page of results to return.
          default: start_time
          type: string
        - name: order
          in: query
          description: Puts results in ascending or descending order.
          default: desc
          enum:
            - asc
            - desc
          type: string
      responses:
        '200':
          description: The results for the request.
          schema:
            type: array
            items:
              $ref: '#/definitions/RecordingSummary'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/recordings/{recording_entity_id}:
    get:
      summary: Get Recording
      description: This endpoint retrieves the details about a meeting recording.
      operationId: getRecording
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: recording_entity_id
          in: path
          description: The ID of the meeting recording. This value is shown in meeting recording lists as recordingEntityId.
          required: true
          type: integer
      responses:
        '200':
          description: The results for the request.
          schema:
              $ref: '#/definitions/Recording'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_guid}:
    get:
      summary: Get Meeting History by User
      description: This endpoint retrieves the meeting history for a specific instance of a meeting.
      operationId: getHistoryByUser
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The meeting history object.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/meeting_history/{meeting_guid}:
    get:
      summary: Get Meeting History by Enterprise
      description: This endpoint retrieves the meeting history for a specific instance of a meeting.
      operationId: getHistoryByEnterprise
      tags:
        - History
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The meeting history object.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings/?action=start:
    post:
      summary: Start Recording
      description: This endpoint starts recording for a meeting in progress.
      operationId: startRecording
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '204':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings?action=stop:
    put:
      summary: Stop Recording
      description: This endpoint stops recording for a meeting in progress.
      operationId: stopRecording
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '204':
          description: Empty response on success.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings:
    get:
      summary: Get All Recordings for a Specified Meeting ID
      description: This endpoint lists the recordings for a meeting.
      operationId: getMeetingRecordings
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: TBD
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings?meetingGuid={meeting_guid}:
    get:
      summary: Get All Recordings for a Specified Meeting GUID
      description: This endpoint stops recording for a meeting in progress.
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: TBD
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_guid}/recordings:
    delete:
      summary: Delete All Recordings for a Specified Meeting GUID
      description: >
        This endpoint stops recording for a meeting in progress.
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: TBD
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/meeting_history/{meeting_id}/recordings/{recording_chapter_id}/:
    delete:
      summary: Delete a Specified Recording Chapter
      description: This endpoint stops recording for a meeting in progress.
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
        - name: recording_chapter_id
          in: path
          description: The ID of the meeting you want to view. This is an integer value. You can find this ID by doing a list of meetings and referencing the "id" property.
          required: true
          type: integer
      responses:
        '200':
          description: TBD
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/cms/{content_id}?isDownloadable=true:
    get:
      summary: Get Recording Download Link
      description: This endpoint retrieves properties about the recording chapter.
      operationId: getRecordingContent
      tags:
        - Recording
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: content_id
          in: path
          description: The recording properties fetched with other API endpoints will return a compositeContentId or a contentId. That value can be used for this argument.
          required: true
          type: integer
      responses:
        '200':
          description: The results for this content item.
          schema:
            $ref: '#/definitions/Content'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings/live:
    get:
      summary: Live Meetings Summary by Enterprise
      description: This endpoint lists meetings in progress by enterprise.
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: TBD
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings/live/{meeting_guid}/endpoints/:
    get:
      summary: List Live Meeting Endpoints by Enterprise
      description: This endpoint lists endpoints for a given meeting in progress.
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings:
    get:
      summary: List Past Meetings by Enterprise
      description: This endpoint lists completed meetings by enterprise.
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: offset
          in: query
          description: Page Number
          type: integer
        - name: limit
          in: query
          description: Per page
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/indigo/meetings:
    get:
      summary: List Past Meetings by User
      description: This endpoint lists completed meetings by user.
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
      responses:
        '200':
          description: The results for this user.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/meetings/{meeting_guid}:
     get:
      summary: List Meeting Endpoints & Stats by Enterprise
      description: This endpoint lists meeting endpoints for completed meetings by enterprise.
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/user/{user_id}/indigo/meetings/{meeting_guid}:
     get:
      summary: List Meeting Endpoints & Stats by User
      description: This endpoint lists meeting endpoints for completed meetings by user.
      tags:
        - Command Center
      security:
        - access_token: []
      parameters:
        - name: user_id
          in: path
          description: The ID of the user of interest. This value is an integer which can be retrieved for the current user via the Get User Account Details endpoint.
          required: true
          type: integer
        - name: meeting_guid
          in: path
          description: The globally unique identifier (GUID) of the meeting of interest. This value is a string which contains the numeric meeting id, followed by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric segments separated by dashes. Since a given numeric meeting ID can have multiple instantiations over time, the GUID helps identify the instance of interest.
          required: true
          type: string
      responses:
        '200':
          description: The results for this user.
          schema:
            $ref: '#/definitions/Meeting'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/users/usage:
     get:
      summary: Top Users
      description: This endpoint retrieves the top users by usage for an enterprise.
      operationId: getTopUsers
      tags:
        - Analytics
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"start_time\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"end_time\"}]"
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsTopUsers'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/endpoints/distribution:
     get:
      summary: Endpoint Distribution
      description: This endpoint retrieves endpoint connection type distribution by enterprise.
      operationId: getEndpointDistribution
      tags:
        - Analytics
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"creation_time\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"creation_time\"}]"
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsEndpointDistribution'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/meetings/usage:
     get:
      summary: Meeting Usage Over Time
      description: This endpoint reports on meeting usage.
      operationId: getMeetingUsage
      tags:
        - Analytics
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: clientTZ
          in: query
          description: Based on standard TZ code.
          default: America/Denver
          type: string
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"string\",\"comparison\":\"eq\",\"value\":\"DAY\",\"field\":\"groupInterval\"},{\"type\":\"date\",\"comparison\":\"eq\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"lowts\"},{\"type\":\"date\",\"comparison\":\"eq\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"hights\"}]"
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsUsage'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/roi_ranges:
     get:
      summary: ROI Data
      description: This endpoint lists return on investment (ROI) data for meetings.
      operationId: getRoiRanges
      tags:
        - Analytics
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: filter
          in: query
          description: URL-encoded JSON string
          default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\",\"field\":\"startTime\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"startTime\"}]"
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsRoiData'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/feedback/count:
     get:
      summary: Survey Feedback Scores
      description: This endpoint lists end of meeting survey scores by enterprise by time period.
      operationId: getFeedbackCount
      tags:
        - Analytics
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: start
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2017-01-01T00:00:00-00:00"
          required: true
          type: string
        - name: end
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2018-01-01T00:00:00-00:00"
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsFeedbackScores'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1/enterprise/{enterprise_id}/indigo/analytics/feedback/comments:
     get:
      summary: Survey Feedback Comments
      description: This endpoint lists end of meeting survey comments by enterprise by time period.
      operationId: getFeedbackComments
      tags:
        - Analytics
      security:
        - access_token: []
      parameters:
        - name: enterprise_id
          in: path
          description: The ID of the enterprise of interest. This value is an integer which can be retrieved for the current user via the Get Enterprise Profile endpoint.
          required: true
          type: integer
        - name: start
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2017-01-01T00:00:00-00:00"
          required: true
          type: string
        - name: end
          in: query
          description: Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.
          default: "2018-01-01T00:00:00-00:00"
          required: true
          type: string
      responses:
        '200':
          description: The results for this enterprise.
          schema:
            $ref: '#/definitions/AnalyticsFeedbackComments'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  GrantRequestPassword:
    type: object
    properties:
      grant_type:
        type: string
        default: password
        description: The type of access token you are requesting.
      username:
        type: string
        description: Your user name that you use to login to our site.
      password:
        type: string
        description: Your user password that you use to login to our site.
        format: password
    required:
      - grant_type
      - username
      - password
  GrantPassword:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      refresh_token:
        type: string
      scope:
        type: object
        properties:
          user:
            type: integer
            description: The ID of your user.
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
  GrantRequestMeeting:
    type: object
    properties:
      grant_type:
        type: string
        default: meeting_passcode
        description: The type of access token you are requesting.
      meetingNumericId:
        type: string
        description: Meeting ID
      meetingPasscode:
        type: string
        description: Pin
    required:
      - grant_type
      - meetingNumericId
      - meetingPasscode
  GrantMeeting:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      scope:
        type: object
        properties:
          meeting:
            type: object
            properties:
              id:
                type: integer
              leaderId:
                type: integer
              meetingNumericId:
                type: string
              meetingUri:
                type: string
              isModerator:
                type: boolean
              endpointUriSet:
                type: array
                items:
                  type: object
              meetingId:
                type: string
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
  GrantRequestClient:
    type: object
    properties:
      grant_type:
        type: string
        default: client_credentials
        description: The type of access token you are requesting.
      client_id:
        type: string
        description: The value given within the BlueJeans Enterprise Administration console.
      client_secret:
        type: string
        description: The value given within the BlueJeans Enterprise Administration console.
    required:
      - grant_type
      - client_id
      - client_secret
  GrantClient:
    type: object
    properties:
      access_token:
        type: string
        description: The access token acts as a kind of "valet key" that the application can include with its requests to the identity provider, which prove that it has permission from the user to access those APIs.
      expires_in:
        type: integer
        description: Seconds that access token is valid for from now.
      scope:
        type: object
        properties:
          enterprise:
            type: integer
            description: The ID of your enterprise.
          partitionName:
            type: string
            description: The name of the partition you are on.
          partition:
            $ref: '#/definitions/Partition'
  Partition:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  User:
    type: object
    properties:
      id:
        type: integer
        description: Unique identifier for the user.
        readOnly: true
      username:
        type: string
        description: User's username
      firstName:
        type: string
        description: User's first name
      middleName:
        type: string
        description: User's middle name
      lastName:
        type: string
        description: User's last name
      emailId:
        type: string
        description: User's email address
      company:
        type: string
        description: User's company name
      title:
        type: string
        description: User's title
      phone:
        type: string
        description: User's phone
      profilePicture:
        type: string
        description: Path to user's profile picture
      timezone:
        type: string
        description: User's timezone
      timeFormat:
        type: integer
        description: User's preference of 12 or 24 hour time display
      language:
        type: string
        description: User's language code
  Enterprise:
    type: object
    properties:
      id:
        type: integer
        description: Unique identifier for the user.
        readOnly: true
      enterprise:
        type: integer
        description: Unique identifier for the enterprise.
        readOnly: true
      enterpriseAdmin:
        type: boolean
        description: Is this user an administrator for this enterprise?
      joinDate:
        type: integer
        description: Date of enterprise join
      expiryDate:
        type: integer
        description: Date of expiration; null if not set
  EnterpriseUserList:
    type: object
    properties:
      count:
        type: integer
        description: The number of users in the result.
      users:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: The ID of this user.
            uri:
              type: string
              description: The URI of this user in order to fetch further details.
  UserId:
    type: object
    properties:
      id:
        type: integer
        description: The ID of the user.
  Room:
    type: object
    properties:
      id:
        type: integer
        description: Unique identifier for room.
        readOnly: true
      numericId:
        type: string
        description: Unique identifier for room.
      name:
        type: string
        description: Name of the room.
      originPopId:
        type: integer
      isLargeMeeting:
        type: boolean
      showVideoAnimations:
        type: boolean
      backgroundImage:
        type: string
      isModeratorLess:
        type: boolean
      welcomeMessage:
        type: string
      disallowChat:
        type: boolean
      encryptionType:
        type: string
      showAllParticipantsInIcs:
        type: boolean
      participantPasscode:
        type: string
      publishMeeting:
        type: boolean
      moderatorLess:
        type: boolean
      videoBestFit:
        type: boolean
      muteParticipantsOnEntry:
        type: boolean
      enforceMeetingEncryption:
        type: boolean
      enforceMeetingEncryptionAllowPSTN:
        type: boolean
      idleTimeout:
        type: integer
      defaultLayout:
        type: string
      playAudioAlerts:
        type: boolean
      personalMeetingId:
        type: integer
      moderatorPasscode:
        type: string
  Meeting:
    type: object
    required:
      - title
      - start
      - end
      - endPointVersion
      - endPointType
    properties:
      id:
        type: integer
        description: Unique identifier for meeting.
        readOnly: true
      title:
        type: string
        default: My Test Meeting
      description:
        type: string
      start:
        type: integer
        format: int64
        description: A [UNIX Timestamp](https://currentmillis.com/) in milliseconds
      end:
        type: integer
        format: int64
        description: A [UNIX Timestamp](https://currentmillis.com/) in milliseconds
      timezone:
        type: string
        default: America/New_York
      numericMeetingId:
        type: string
        readOnly: true
      attendeePasscode:
        type: string
        readOnly: true
      endPointVersion:
        type: string
        default: "2.10"
      endPointType:
        type: string
        default: "WEB_APP"
      attendees:
        type: array
        items:
          $ref: '#/definitions/Attendee'
      advancedMeetingOptions:
        type: object
        properties:
          autoRecord:
            type: boolean
          muteParticipantsOnEntry:
            type: boolean
          encryptionType:
            type: string
            default: NO_ENCRYPTION
            enum:
              - NO_ENCRYPTION
              - ENCRYPTED_ONLY
              - ENCRYPTED_OR_PSTN_ONLY
          moderatorLess:
            type: boolean
          videoBestFit:
            type: boolean
          disallowChat:
            type: boolean
          publishMeeting:
            type: boolean
          showAllAttendeesInMeetingInvite:
            type: boolean
  Attendee:
    type: object
    properties:
      email:
        type: string
  Numbers:
    type: object
    properties:
      meetingId:
        type: string
      allowDirectDial:
        type: boolean
      useAttendeePasscode:
        type: boolean
      pstnNumbersUrl:
        type: string
      moderatorPasscode:
        type: string
      precision:
        type: string
      pstnLocalizationSupported:
        type: boolean
      partnerIntegratedMeeting:
        type: boolean
      numbers:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            number:
              type: string
            tollfree:
              type: boolean
            premium:
              type: boolean
            custom:
              type: boolean
            country:
              type: string
            countryName:
              type: string
            state:
              type: string
            city:
              type: string
            label:
              type: object
              properties:
                default:
                  type: string
            defaultSettingsInherited:
              type: boolean
            default:
              type: boolean
  PairingCode:
    type: object
    properties:
      callguid:
        type: string
      endpointGuid:
        type: string
      forceTURN:
        type: boolean
      pairingCode:
        type: string
      status:
        type: integer
      statusText:
        type: string
        enum:
          - OK
      turnservers:
        type: array
        items:
          type: object
          properties:
            credential:
              type: string
            urls:
              type: string
            username:
              type: string
      uri:
        type: string
      seamEndpointGuid:
        type: string
      connectionGuid:
        type: string
      endpointName:
        type: string
  MeetingState:
    type: object
    properties:
      meetingId:
        type: string
      meetingGuid:
        type: string
      meetingState:
        type: string
        enum:
          - MeetingStarted
      status:
        type: string
        enum:
          - active
      isContentSharingActive:
        type: boolean
      bridged:
        type: boolean
      locked:
        type: boolean
      audioMuteOnEntry:
        type: boolean
      videoMuteOnEntry:
        type: boolean
      moderatorLess:
        type: boolean
      title:
        type: string
      chatEnabled:
        type: boolean
      pinnedEndpointGuid:
        type: string
      audioEndpointCount:
        type: integer
      videoEndpointCount:
        type: integer
      recordingEnabled:
        type: boolean
      participantWebJoinURL:
        type: string
      isLargeMeeting:
        type: string
      features:
        type: array
        items:
          type: string
      delayedMeetingEndTime:
        type: integer
      smStreams:
        type: string
      inactiveMeetingStatus:
        type: string
      meetingMarkedForDelayedTermination:
        type: boolean
      recordinginfo:
        type: object
        properties:
          contentStatus:
            type: string
          recordingStartTime:
            type: integer
          active:
            type: boolean
          recorded:
            type: boolean
  Endpoints:
    type: array
    items:
      type: object
      properties:
        meetingid:
          type: string
        name:
          type: string
        CallQuality:
          type: string
        Leader:
          type: string
        callguid:
          type: string
        endpoint:
          type: string
        TalkDetected:
          type: string
        SecureCall:
          type: string
        Layout:
          type: string
        SubLayout:
          type: string
        VideoRecv:
          type: string
        VideoRecvLocalMute:
          type: string
        VideoRecvRemoteMute:
          type: string
        AudioRecv:
          type: string
        AudioRecvLocalMute:
          type: string
        AudioRecvRemoteMute:
          type: string
        AudioRecvCodec:
          type: string
        AudioSendCodec:
          type: string
        VideoRecvCodec:
          type: string
        VideoRecvHeight:
          type: string
        VideoRecvWidth:
          type: string
        VideoSendCodec:
          type: string
        VideoSendHeight:
          type: string
        VideoSendWidth:
          type: string
        visibility:
          type: string
        chatEndpointGuid:
          type: string
        endpointGuid:
          type: string
        RDCVersion:
          type: string
        RDCControllerCapable:
          type: string
        RDCControlleeCapable:
          type: string
        connections:
          type: array
          items:
            type: object
            properties:
              connectionGuid:
                type: string
              capabilities:
                type: array
                items:
                  type: string
              endpoint:
                type: string
              callGuid:
                type: string
  Endpoint:
    type: object
    properties:
      EcMode:
        type: string
      creationtime:
        type: string
      audio.remote.rtcpAddress:
        type: string
      VideoSendCodec:
        type: string
      AudioPlayID:
        type: string
      CallQualityRecv:
        type: string
      SessionOut:
        type: string
      audio.local.address:
        type: string
      meetingid:
        type: string
      VideoSendWidth:
        type: string
      CallQualitySend:
        type: string
      mhaddress:
        type: string
      RDCControlleeCapable:
        type: string
      AudioCapName:
        type: string
      ProxyInfo:
        type: string
      AudioSendCodec:
        type: string
      vendor:
        type: string
      VideoRecvWidth:
        type: string
      conaddress:
        type: string
      TalkDetected:
        type: string
      SubLayout:
        type: string
      AudioRtcpRelay:
        type: string
      AudioRecvLocalMute:
        type: string
      name:
        type: string
      video.local.address:
        type: string
      audio.local.rtcpAddress:
        type: string
      ContentRtpRelay:
        type: string
      content.local.rtcpAddress:
        type: string
      RemoteConnectionCount:
        type: string
      callrate:
        type: string
      MixerGuid:
        type: string
      transport:
        type: string
      AudioCapSelectID:
        type: string
      CountryCode:
        type: string
      RDCControllerCapable:
        type: string
      pairedname:
        type: string
      VideoRtcpRelay:
        type: string
      EndpointCpuParams:
        type: string
      video.remote.address:
        type: string
      version:
        type: string
      ContentRecv:
        type: string
      localName:
        type: string
      BJNUserId:
        type: string
      content.remote.address:
        type: string
      AudioSend:
        type: string
      ParticipantDTMFMenus:
        type: string
      VideoRtcpTranspor:
        type: string
      AudioRtcpTransport:
        type: string
      RelayNodeId:
        type: string
      content.remote.rtcpAddress:
        type: string
      AudioRtpRelay:
        type: string
      VideoRtpTransport:
        type: string
      ContentRecvLocalMute:
        type: string
      Layout:
        type: string
      ContentSend:
        type: string
      remoteaddress:
        type: string
      MeetingGuid:
        type: string
      connecttime:
        type: string
      localaddress:
        type: string
      audio.remote.address:
        type: string
      BondedAudioGuid:
        type: string
      AudioRecvRemoteMute:
        type: string
      SessionOutRelay:
        type: string
      Leader:
        type: string
      content.local.address:
        type: string
      MovieCapable:
        type: string
      VideoRecvLocalMute:
        type: string
      ContentRtpTransport:
        type: string
      RDCVersion:
        type: string
      AudioRecv:
        type: string
      ContentRelayServer:
        type: string
      VideoRecv:
        type: string
      visibility:
        type: string
      sessionid:
        type: string
      ContentRtcpRelay:
        type: string
      locales:
        type: string
      medaddress:
        type: string
      HtmlLayoutGuid:
        type: string
      endpoint:
        type: string
      VideoDrop:
        type: string
      ContentRtcpTransport:
        type: string
      video.remote.rtcpAddress:
        type: string
      VideoRtpRelay:
        type: string
      mixaddress:
        type: string
      SIPHTTPProxyTransport:
        type: string
      VideoRecvCodec:
        type: string
      AudioRecvCodec:
        type: string
      SessionIn:
        type: string
      BondedVideoGuid:
        type: string
      CallQuality:
        type: string
      meetingjointime:
        type: string
      SessionInRelay:
        type: string
      pairedremoteaddress:
        type: string
      VideoSendHeight:
        type: string
      VideoRecvHeight:
        type: string
      SecureCall:
        type: string
      video.local.rtcpAddress:
        type: string
      AudioPlayName:
        type: string
      VideoCapID:
        type: string
      AudioRtpTransport:
        type: string
      MeetingInfoMode:
        type: string
      callhostname:
        type: string
      callguid:
        type: string
      AudioCapID:
        type: string
      VideoSend:
        type: string
      ContentRecvCodec:
        type: string
      SessionRelay:
        type: string
      VideoRecvRemoteMute:
        type: string
      Id:
        type: string
      BondedVideoName:
        type: string
      isInRoster:
        type: boolean
  RecordingSummary:
    type: object
    properties:
      recordingEntityId:
        type: integer
      recordingName:
        type: string
      meetingGuid:
        type: string
      chapterCount:
        type: integer
      totalSize:
        type: integer
      totalDuration:
        type: integer
      lastRecordingDate:
        type: string
      aggregatedStatus:
        type: string
      recordingThumbnail:
        type: string
      created:
        type: integer
      isPremiumRecording:
        type: boolean
      showPremiumRecordingTag:
        type: boolean
  Layout:
    type: object
    properties:
      layoutMode:
        type: string
        enum:
          - Video
      subLayoutMode:
        type: string
        enum:
          - VideoContiniousPresence
  Recording:
    type: object
    properties:
      recordingEntityId:
        type: integer
      recordingEntityGuid:
        type: string
      recordingName:
        type: string
      meetingGuid:
        type: string
      chapterCount:
        type: integer
      totalSize:
        type: integer
      totalDuration:
        type: integer
      lastRecordingDate:
        type: integer
      aggregatedStatus:
        type: string
      recordingThumbnail:
        type: string
      created:
        type: integer
      aggregatedViewCount:
        type: integer
      isPremiumRecording:
        type: boolean
      showPremiumRecordingTag:
        type: boolean
      recordingChapters:
        type: array
        items:
          type: object
          properties:
            chapterId:
              type: string
            id:
              type: integer
            startTimeOffset:
              type: integer
            endTimeOffset:
              type: integer
            chapterName:
              type: string
            totalSize:
              type: integer
            compositeContentId:
              type: integer
            compositeContentStatus:
              type: string
            parentRecordingId:
              type: integer
            viewCount:
              type: integer
            recordingSessions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  contentStatus:
                    type: string
                  recordingType:
                    type: string
                  contentId:
                    type: integer
                  thumbnailUrl:
                    type: string
                  startTimeOffset:
                    type: integer
                  endTimeOffset:
                    type: integer
                  duration:
                    type: integer
                  startedBy:
                    type: object
                    properties:
                      endpointName:
                        type: string
                      endpointGuid:
                        type: string
                  stoppedBy:
                    type: object
                    properties:
                      endpointName:
                        type: string
                      endpointGuid:
                        type: string
  MeetingHistory:
      type: object
      properties:
        meetingGuid:
          type: string
        meetingNumericId:
          type: string
        title:
          type: string
        description:
          type: string
        leaderInfo:
          type: object
          properties:
            leaderId:
              type: integer
            firstName:
              type: string
            lastName:
              type: string
            userName:
              type: string
            email:
              type: string
        userId:
          type: integer
        meetingDuration:
          type: integer
        maxParticipantCount:
          type: integer
        totalParticipantMinutes:
          type: integer
        maxParticipantMinutes:
          type: integer
        extraParticipantMinutes:
          type: integer
        isdnEndpoints:
          type: integer
        totalDialoutMinutes:
          type: integer
        totalTollFreeMinutes:
          type: integer
        callDIDMinutes:
          type: integer
        startTime:
          type: integer
        endTime:
          type: integer
        meetingStatus:
          type: string
          enum:
            - Complete
        meetingThumbnail:
          type: string
        startTimeZone:
          type: string
        processingStatus:
          type: string
          enum:
            - PROCESSED
        concurrentCalls:
          type: string
        uploadStatus:
          type: string
        pstnonly:
          type: boolean
        participantList:
          type: array
          items:
            type: object
            properties:
              endpointName:
                type: string
              joinTime:
                type: integer
              minutes:
                type: integer
              deviceType:
                type: string
                enum:
                  - Carmel
                  - WebRTC
              email:
                type: string
              remoteAddress:
                type: string
              isEncrypted:
                type: boolean
              disconnectTime:
                type: integer
              isModerator:
                type: boolean
              userId:
                type: integer
              tags:
                type: string
              participantGuid:
                type: string
  Content:
    type: object
    properties:
      id:
        type: integer
      contentType:
        type: string
      contentDescription:
        type: string
      contentUrl:
        type: string
      userId:
        type: integer
      contentLocation:
        type: string
      created:
        type: integer
      modified:
        type: integer
      contentStatus:
        type: string
      contentName:
        type: string
      contentCategory:
        type: string
      contentSize:
        type: integer
      contentDuration:
        type: integer
      contentProperties:
        type: object
        properties:
          duration:
            type: integer
          thumbnail:
            type: string
          thumbnailSprite:
            type: string
          hdsUrl:
            type: string
          thumbnailCount:
            type: integer
          thumbnailWidth:
            type: integer
          thumbnailHeight:
            type: integer
          thumbnailInterval:
            type: integer
          hlsUrl:
            type: string
          levels:
            type: array
            items:
              type: object
              properties:
                file:
                  type: string
                width:
                  type: integer
                bitrate:
                  type: integer
                height:
                  type: integer
  AnalyticsTopUsers:
    type: object
    properties:
      usage:
        type: array
        items:
          type: object
          properties:
            lastMeetingTime:
              type: integer
            participantMinutes:
              type: number
            last_name:
              type: string
            userName:
              type: string
            userId:
              type: integer
            first_name:
              type: string
  AnalyticsEndpointDistribution:
    type: object
    properties:
      distribution:
        type: array
        items:
          type: object
          properties:
            Google:
              type: integer
            Telepresence:
              type: integer
            Lync:
              type: integer
            iOS:
              type: integer
            H323:
              type: integer
            InterCall:
              type: integer
            Jabber:
              type: integer
            Android:
              type: integer
            Skype:
              type: integer
            ISDN:
              type: integer
            PSTN:
              type: integer
            Level3:
              type: integer
            SIP:
              type: integer
            BlueJeansApp:
              type: integer
            Browser:
              type: integer
            WebRTC:
              type: integer
  AnalyticsUsage:
    type: object
    properties:
      usage:
        type: array
        items:
          type: object
          properties:
            endpointMinutes:
              type: integer
            numEndpoints:
              type: integer
            numMeetings:
              type: integer
            Date:
              type: integer
  AnalyticsRoiData:
    type: object
    properties:
      roi_ranges:
        type: array
        items:
          type: object
          properties:
            distance:
              type: number
            distance_range:
              type: string
  AnalyticsFeedbackScores:
    type: object
    properties:
      Great:
        type: integer
      Okay:
        type: integer
      Bad:
        type: integer
      Poor:
        type: integer
      Good:
        type: integer
  AnalyticsFeedbackComments:
    type: object
    properties:
      comments:
        type: array
        items:
          type: object
          properties:
            qualaroo_feedback:
              description: The comment rating left by the user.
              type: string
            meeting_uuid:
              description: The UUID of the meeting.
              type: string
            callguid:
              type: string
            qualaroo_comments:
              description: The comment left by the user.
              type: string
  Error:
    type: object
    properties:
      message:
        type: string