h2.info {
  background-color: #12a8f1;
  width: 100%;
  height: 1.4em;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 5px;
}

.swagger-ui .info .title small pre {
	color:  black;
	padding: 1px;
}
