.version {
  background-color: #12a8f1;
  width: 100%;
  height: 1.4em;
  font-weight: 600;
  padding: 2px;
  border-radius: 5px;
}

alert {
  color: red;
  font-style: italic;
  padding-top: 100px;
}


.key {
	display: inline-block;
}

.keyimg {
	width: 192px;
}

.keybox {
	font-size: 1.2em;
	display: inline-block;
	background-color: #dde4ee; 
	padding: 20px; margin:10px; 
	border-radius: 5px; 
	width: 40%;
}
.keybox a{
	font-size: 1.2em;
}