---
swagger: "2.0"
info:
  description: "_Video That Works Where You Do, from the world's leader in cloud video\
    \ communication._\n# Authentication\nEach API request that is sent to BlueJeans\
    \ requires an access token, which is obtained through the BlueJeans Authentication\
    \ API. There are several methods (grant types) for obtaining an access token,\
    \ which follow the OAuth2.0 specification.\n## Grant Types\n* Authorization Code\
    \ Grant – This grant type is used in an authentication flow commonly referred\
    \ to as \"three-legged OAuth\". The user authenticates via a BlueJeans page, which\
    \ provides an authorization code. This code, along with a few other elements,\
    \ can be used to obtain an access code.\n* Password Credentials Grant – This grant\
    \ type is used in a two-legged OAuth flow. Username and password are sent to retrieve\
    \ an access code.\n* Client Credentials Grant – This grant type is used in a two-legged\
    \ OAuth flow.\n\n## Access & Permissions\nThe access level that is associated\
    \ with each access token is referred to as the scope. There are three basic levels\
    \ of access that BlueJeans allows, which affect the level of scope.\n\nThree access\
    \ levels exist within the Blue Jeans service today.\n* Meeting-level – Authentication\
    \ takes place using a meeting ID and passcode, and the scope is limited to APIs\
    \ that relate to the individual meeting.\n* User-level – Authentication either\
    \ takes place via three-legged OAuth, or else a direct authorization token request\
    \ containing a username or password. Access level depends on the requested scope\
    \ permissions.\n* App-level – An application is provisioned either by BlueJeans\
    \ personnel, or within the BlueJeans Enterprise Admin interface. When provisioning\
    \ an app, a client key and secret are provided, which is then used to obtain an\
    \ access token, via the BlueJeans Authentication API. The scope that is associated\
    \ with the token will provide access to an entire enterprise and all of its users.\n\
    \nAll endpoints in this document that require Enterprise Admin access will be\
    \ marked as such.\n## Testing\nIn order to make effective use of this page, you\
    \ will first use one of the authentication methods to obtain an access token.\
    \ Once the token is given, use the Authenticate button up in the header to store\
    \ the token. Each BlueJeans API called after that will use the access token provided.\n"
  version: "1.0.0"
  title: "BlueJeans onVideo REST API"
  termsOfService: "Terms here"
  contact:
    name: "Brandon Fuller"
    url: "http://bluejeans.com/"
    email: "brandon@bluejeans.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.bluejeans.com"
schemes:
- "https"
produces:
- "application/json"
paths:
  /oauth2/token?client:
    post:
      tags:
      - "Authentication"
      summary: "Authentication via Client Grant Type"
      description: "This grant type is commonly used by an app. Client ID and Secret\
        \ are provisioned within the BlueJeans Enterprise Administration console."
      operationId: "oauth2TokenclientPOST"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "payload"
        description: "Contains information about the type of grant you are requesting."
        required: true
        schema:
          $ref: "#/definitions/payload"
      responses:
        200:
          description: "The information about the grant."
          schema:
            $ref: "#/definitions/Grant"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Authentication"
  /oauth2/token?meeting:
    post:
      tags:
      - "Authentication"
      summary: "Authentication via Meeting Grant Type"
      description: "This is not a traditional OAuth grant type, but it behaves closely\
        \ to the password grant type. This level of authentication allows for obtaining\
        \ access to the meeting only. If a Moderator passcode is sent, moderator privileges\
        \ are granted. If an Attendee access code is passed, the access token will\
        \ have a limited scope of access that an attendee has within a meeting."
      operationId: "oauth2TokenmeetingPOST"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "payload"
        description: "Contains information about the type of grant you are requesting."
        required: true
        schema:
          $ref: "#/definitions/payload_1"
      responses:
        200:
          description: "The information about the grant."
          schema:
            $ref: "#/definitions/Grant"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Authentication"
  /oauth2/token?password:
    post:
      tags:
      - "Authentication"
      summary: "Authentication via Password Grant Type"
      description: "An access token can be obtained by using a user’s username and\
        \ password."
      operationId: "oauth2TokenpasswordPOST"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "payload"
        description: "Contains information about the type of grant you are requesting."
        required: true
        schema:
          $ref: "#/definitions/payload_2"
      responses:
        200:
          description: "The information about the grant."
          schema:
            $ref: "#/definitions/Grant"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Authentication"
  /v1/enterprise/{enterprise_id}/indigo/analytics/endpoints/distribution:
    get:
      tags:
      - "Analytics"
      summary: "Endpoint Distribution"
      description: "This endpoint retrieves endpoint connection type distribution\
        \ by enterprise."
      operationId: "v1EnterpriseEnterprise_idIndigoAnalyticsEndpointsDistributionGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "filter"
        in: "query"
        description: "URL-encoded JSON string"
        required: false
        type: "string"
        default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\"\
          ,\"field\":\"creation_time\"},{\"type\":\"date\",\"comparison\":\"lt\",\"\
          value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"creation_time\"}]"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/AnalyticsEndpointDistribution"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Analytics"
  /v1/enterprise/{enterprise_id}/indigo/analytics/feedback/comments:
    get:
      tags:
      - "Analytics"
      summary: "Survey Feedback Comments"
      description: "This endpoint lists end of meeting survey comments by enterprise\
        \ by time period."
      operationId: "v1EnterpriseEnterprise_idIndigoAnalyticsFeedbackCommentsGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "start"
        in: "query"
        description: "Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime)\
          \ format."
        required: true
        type: "string"
        default: "2017-01-01T00:00:00-00:00"
      - name: "end"
        in: "query"
        description: "Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime)\
          \ format."
        required: true
        type: "string"
        default: "2018-01-01T00:00:00-00:00"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/AnalyticsFeedbackComments"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Analytics"
  /v1/enterprise/{enterprise_id}/indigo/analytics/meetings/usage:
    get:
      tags:
      - "Analytics"
      summary: "Meeting Usage Over Time"
      description: "This endpoint reports on meeting usage."
      operationId: "v1EnterpriseEnterprise_idIndigoAnalyticsMeetingsUsageGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "clientTZ"
        in: "query"
        description: "Based on standard TZ code."
        required: false
        type: "string"
        default: "America/Denver"
      - name: "filter"
        in: "query"
        description: "URL-encoded JSON string"
        required: false
        type: "string"
        default: "[{\"type\":\"string\",\"comparison\":\"eq\",\"value\":\"DAY\",\"\
          field\":\"groupInterval\"},{\"type\":\"date\",\"comparison\":\"eq\",\"value\"\
          :\"2017-01-16T00:00:00-07:00\",\"field\":\"lowts\"},{\"type\":\"date\",\"\
          comparison\":\"eq\",\"value\":\"2017-01-23T23:59:59-07:00\",\"field\":\"\
          hights\"}]"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/AnalyticsUsage"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Analytics"
  /v1/enterprise/{enterprise_id}/indigo/analytics/roi_ranges:
    get:
      tags:
      - "Analytics"
      summary: "ROI Data"
      description: "This endpoint lists return on investment (ROI) data for meetings."
      operationId: "v1EnterpriseEnterprise_idIndigoAnalyticsRoi_rangesGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "filter"
        in: "query"
        description: "URL-encoded JSON string"
        required: true
        type: "string"
        default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\"\
          ,\"field\":\"startTime\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\"\
          :\"2017-01-23T23:59:59-07:00\",\"field\":\"startTime\"}]"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/AnalyticsRoiData"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Analytics"
  /v1/enterprise/{enterprise_id}/indigo/analytics/users/usage:
    get:
      tags:
      - "Analytics"
      summary: "Top Users"
      description: "This endpoint retrieves the top useres by usage for an enterprise."
      operationId: "v1EnterpriseEnterprise_idIndigoAnalyticsUsersUsageGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "filter"
        in: "query"
        description: "URL-encoded JSON string"
        required: false
        type: "string"
        default: "[{\"type\":\"date\",\"comparison\":\"gt\",\"value\":\"2017-01-16T00:00:00-07:00\"\
          ,\"field\":\"start_time\"},{\"type\":\"date\",\"comparison\":\"lt\",\"value\"\
          :\"2017-01-23T23:59:59-07:00\",\"field\":\"end_time\"}]"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/AnalyticsTopUsers"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Analytics"
  /v1/enterprise/{enterprise_id}/indigo/feedback/count:
    get:
      tags:
      - "Analytics"
      summary: "Survey Feedback Scores"
      description: "This endpoint lists end of meeting survey scores by enterprise\
        \ by time period."
      operationId: "v1EnterpriseEnterprise_idIndigoFeedbackCountGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "start"
        in: "query"
        description: "Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime)\
          \ format."
        required: true
        type: "string"
        default: "2017-01-01T00:00:00-00:00"
      - name: "end"
        in: "query"
        description: "Date and time in an [ISO 8601](https://www.w3.org/TR/NOTE-datetime)\
          \ format."
        required: true
        type: "string"
        default: "2018-01-01T00:00:00-00:00"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/AnalyticsFeedbackScores"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Analytics"
  /v1/enterprise/{enterprise_id}/indigo/meetings:
    get:
      tags:
      - "Command Center"
      summary: "List Past Meetings by Enterprise"
      description: "This endpoint lists completed meetings by enterprise."
      operationId: "v1EnterpriseEnterprise_idIndigoMeetingsGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "offset"
        in: "query"
        description: "Page Number"
        required: false
        type: "integer"
      - name: "limit"
        in: "query"
        description: "Per page"
        required: false
        type: "integer"
      - name: "filter"
        in: "query"
        description: "URL-encoded JSON string"
        required: false
        type: "string"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "CommandCenter"
  /v1/enterprise/{enterprise_id}/indigo/meetings/live:
    get:
      tags:
      - "Command Center"
      summary: "Live Meetings Summary by Enterprise"
      description: "This endpoint lists meetings in progress by enterprise."
      operationId: "v1EnterpriseEnterprise_idIndigoMeetingsLiveGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "CommandCenter"
  /v1/enterprise/{enterprise_id}/indigo/meetings/live/{meeting_guid}/endpoints/:
    get:
      tags:
      - "Command Center"
      summary: "List Live Meeting Endpoints by Enterprise"
      description: "This endpoint lists endpoints for a given meeting in progress."
      operationId: "v1EnterpriseEnterprise_idIndigoMeetingsLiveMeeting_guidEndpointsGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "TThe results for this enterprise."
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "CommandCenter"
  /v1/enterprise/{enterprise_id}/indigo/meetings/{meeting_guid}:
    get:
      tags:
      - "Command Center"
      summary: "List Meeting Endpoints & Stats by Enterprise"
      description: "This endpoint lists meeting endpoints for completed meetings by\
        \ enterprise."
      operationId: "v1EnterpriseEnterprise_idIndigoMeetingsMeeting_guidGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "The results for this enterprise."
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "CommandCenter"
  /v1/enterprise/{enterprise_id}/meeting_history:
    get:
      tags:
      - "History"
      summary: "List Meetings"
      description: "This endpoint retrieves a list of meetings."
      operationId: "v1EnterpriseEnterprise_idMeeting_historyGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "History"
  /v1/enterprise/{enterprise_id}/meeting_history/{meeting_guid}:
    get:
      tags:
      - "History"
      summary: "List Meetings"
      description: "This endpoint retrieves a list of meetings."
      operationId: "v1EnterpriseEnterprise_idMeeting_historyMeeting_guidGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "History"
  /v1/enterprise/{enterprise_id}/users:
    get:
      tags:
      - "Enterprise"
      summary: "List Enterprise Users"
      description: "This endpoint allows listing the users that are associated with\
        \ an enterprise account. Requires enterprise admin access level."
      operationId: "v1EnterpriseEnterprise_idUsersGET"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Sets number of items returned per page."
        required: false
        type: "integer"
      - name: "pageNumber"
        in: "query"
        description: "Selects which page of results to return."
        required: false
        type: "integer"
      - name: "emailId"
        in: "query"
        description: "Allows filtering the response by a user’s email address."
        required: false
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Room"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Enterprise"
    post:
      tags:
      - "Enterprise"
      summary: "Create Enterprise User"
      description: "This endpoint allows adding a user to an existing enterprise.\
        \ Requires enterprise admin access level."
      operationId: "v1EnterpriseEnterprise_idUsersPOST"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "forcePasswordChange"
        in: "query"
        description: "Forces the user to change his or her password on first log in."
        required: false
        type: "boolean"
      - name: "sendVerificationMail"
        in: "query"
        description: "Prevents welcome emails from being sent to the newly created\
          \ user."
        required: false
        type: "boolean"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Room"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Enterprise"
  /v1/enterprise/{enterprise_id}/users/{user_id}:
    delete:
      tags:
      - "Enterprise"
      summary: "Remove Enterprise User"
      description: "This endpoint allows removing a user from an enterprise; it does\
        \ not delete the user. Requires enterprise admin access level."
      operationId: "v1EnterpriseEnterprise_idUsersUser_idDELETE"
      parameters:
      - name: "enterprise_id"
        in: "path"
        description: "The ID of the enterprise of interest. This value is an integer\
          \ which can be retrieved for the current user via the Get Enterprise Profile\
          \ endpoint."
        required: true
        type: "integer"
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Room"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Enterprise"
  /v1/user/{user_id}:
    get:
      tags:
      - "User"
      summary: "Get User Account Details"
      description: "This endpoint retrieves the basic account details for a given\
        \ user."
      operationId: "v1UserUser_idGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest. This value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the user"
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "User"
    put:
      tags:
      - "User"
      summary: "Update User Account Details"
      description: "This endpoint allows updating a user’s basic account details."
      operationId: "v1UserUser_idPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest. This value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - in: "body"
        name: "user"
        description: "The user details that you wish to update."
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        200:
          description: "The settings for the user"
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "User"
  /v1/user/{user_id}/cms/{content_id}?isDownloadable=true:
    get:
      tags:
      - "Recording"
      summary: "Get Recording Download Link"
      description: "This endpoint stops recording for a meeting in progress."
      operationId: "v1UserUser_idCmsContent_idisDownloadabletrueGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "content_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/enterprise_profile:
    get:
      tags:
      - "User"
      - "Enterprise"
      summary: "Get Enterprise Profile"
      description: "This endpoint retrieves the enterprise profile associated with\
        \ the user."
      operationId: "v1UserUser_idEnterprise_profileGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest. This value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the user's enterprise association."
          schema:
            $ref: "#/definitions/Enterprise"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "User"
  /v1/user/{user_id}/indigo/meetings:
    get:
      tags:
      - "Command Center"
      summary: "List Past Meetings by User"
      description: "This endpoint lists completed meetings by user."
      operationId: "v1UserUser_idIndigoMeetingsGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The results for this user."
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "CommandCenter"
  /v1/user/{user_id}/indigo/meetings/{meeting_guid}:
    get:
      tags:
      - "Command Center"
      summary: "List Meeting Endpoints & Stats by User"
      description: "This endpoint lists meeting endpoints for completed meetings by\
        \ user."
      operationId: "v1UserUser_idIndigoMeetingsMeeting_guidGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "The results for this user."
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "CommandCenter"
  /v1/user/{user_id}/live_meetings/{meeting_id}:
    get:
      tags:
      - "Meeting"
      summary: "Get Meeting State"
      description: "This endpoint’s purpose is to return whether the meeting is in\
        \ progress or not."
      operationId: "v1UserUser_idLive_meetingsMeeting_idGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
    put:
      tags:
      - "Meeting"
      summary: "Update Meeting State"
      description: "This endpoint’s purpose is to be able to modify a meeting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "mute"
        in: "query"
        description: "Allows you to mute/unmute all participants in a meeting."
        required: false
        type: "boolean"
      - name: "media"
        in: "query"
        description: "Specify \"audio\" or \"video\" for the prior mute parameter."
        required: false
        type: "string"
      - name: "delay"
        in: "query"
        description: "Number of seconds to delay the end meeting operation."
        required: false
        type: "integer"
      - in: "body"
        name: "meeting"
        description: "The meeting properties that you wish to update."
        required: true
        schema:
          $ref: "#/definitions/meeting"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/live_meetings/{meeting_id}/endpoints:
    get:
      tags:
      - "Meeting"
      summary: "List Meeting Endpoints"
      description: "This endpoint returns an array of all endpoints in the current\
        \ meeting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idEndpointsGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/live_meetings/{meeting_id}/endpoints/{endpoint_guid}:
    get:
      tags:
      - "Meeting"
      summary: "Get Endpoint Information"
      description: "This endpoint allows you to retrieve information about an endpoint\
        \ in the meeting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idEndpointsEndpoint_guidGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "endpoint_guid"
        in: "path"
        description: "The GUID of an endpoint.  Usually retrieved from the List Meeting\
          \ Endpoints endpoint."
        required: true
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
    put:
      tags:
      - "Meeting"
      summary: "Update Endpoint Video/Audio State"
      description: "This endpoint allows you to update an individual endpoint’s ability\
        \ to send audio or video, and also allows removing an endpoint from the meeting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idEndpointsEndpoint_guidPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "endpoint_guid"
        in: "path"
        description: "The GUID of an endpoint.  Usually retrieved from the List Meeting\
          \ Endpoints endpoint."
        required: true
        type: "string"
      - name: "muteAudio"
        in: "query"
        description: "Toggle the audio source mute."
        required: false
        type: "boolean"
      - name: "muteVideo"
        in: "query"
        description: "Toggle the video source mute."
        required: false
        type: "boolean"
      - name: "leaveMeeting"
        in: "query"
        description: "Remove the user from the meeting."
        required: false
        type: "boolean"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/live_meetings/{meeting_id}/endpoints/{endpoint_guid}/layout:
    get:
      tags:
      - "Meeting"
      summary: "Get Current Endpoint Layout"
      description: "This endpoint allows you to retrieve an individual endpoint’s\
        \ current layout setting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idEndpointsEndpoint_guidLayoutGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "endpoint_guid"
        in: "path"
        description: "The GUID of an endpoint.  Usually retrieved from the List Meeting\
          \ Endpoints endpoint."
        required: true
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
    put:
      tags:
      - "Meeting"
      summary: "Update Endpoint Layout"
      description: "This endpoint allows you to update an individual endpoint’s current\
        \ layout setting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idEndpointsEndpoint_guidLayoutPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "endpoint_guid"
        in: "path"
        description: "The GUID of an endpoint.  Usually retrieved from the List Meeting\
          \ Endpoints endpoint."
        required: true
        type: "string"
      - name: "isLeader"
        in: "query"
        required: false
        type: "boolean"
      - name: "push"
        in: "query"
        required: false
        type: "boolean"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/live_meetings/{meeting_id}/invite:
    post:
      tags:
      - "Meeting"
      summary: "Send Email Invite"
      description: "This endpoint generates an email invite to the specified meeting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idInvitePOST"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/live_meetings/{meeting_id}/pairing_code/SIP:
    post:
      tags:
      - "Meeting"
      summary: "Generate SIP Pairing Code"
      description: "This endpoint generates a SIP pairing code that can be used to\
        \ connect to a meeting."
      operationId: "v1UserUser_idLive_meetingsMeeting_idPairing_codeSIPPOST"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings:
    get:
      tags:
      - "Recording"
      summary: "Get All Recordings for a Specified Meeting ID"
      description: "This endpoint stops recording for a meeting in progress."
      operationId: "v1UserUser_idLive_meetingsMeeting_idRecordingsGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings?action=start:
    post:
      tags:
      - "Recording"
      summary: "Start Recording"
      description: "This endpoint starts recording for a meeting in progress."
      operationId: "v1UserUser_idLive_meetingsMeeting_idRecordingsactionstartPOST"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings?action=stop:
    put:
      tags:
      - "Recording"
      summary: "Stop Recording"
      description: "This endpoint stops recording for a meeting in progress."
      operationId: "v1UserUser_idLive_meetingsMeeting_idRecordingsactionstopPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/live_meetings/{meeting_id}/recordings?meetingGuid={meeting_guid}:
    get:
      tags:
      - "Recording"
      summary: "Get All Recordings for a Specified Meeting GUID"
      description: "This endpoint stops recording for a meeting in progress."
      operationId: "v1UserUser_idLive_meetingsMeeting_idRecordingsmeetingGuidmeeting_guidGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/meeting_history:
    get:
      tags:
      - "History"
      summary: "List Meetings"
      description: "This endpoint retrieves a list of meetings."
      operationId: "v1UserUser_idMeeting_historyGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meetingId"
        in: "query"
        description: "Return meetings with the specified Meeting ID (recurring & Personal\
          \ Meeting ID)."
        required: false
        type: "string"
      - name: "startDate"
        in: "query"
        description: "Return meetings starting from the specified date. MM/DD/YYYY"
        required: false
        type: "string"
      - name: "endDate"
        in: "query"
        description: "Return meetings up until the specified date. MM/DD/YYYY"
        required: false
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Sets number of items returned per page."
        required: false
        type: "integer"
      - name: "pageNumber"
        in: "query"
        description: "Selects which page of results to return."
        required: false
        type: "integer"
      - name: "order"
        in: "query"
        description: "Puts results in ascending or descending order. asc/desc"
        required: false
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "History"
  /v1/user/{user_id}/meeting_history/recordings:
    get:
      tags:
      - "History"
      summary: "List Meeting Recordings"
      description: "This endpoint retrieves a list of meeting recordings."
      operationId: "v1UserUser_idMeeting_historyRecordingsGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Sets number of items returned per page."
        required: false
        type: "integer"
        default: 10
      - name: "pageNumber"
        in: "query"
        description: "Selects which page of results to return."
        required: false
        type: "integer"
        default: 1
      - name: "sortBy"
        in: "query"
        description: "Selects which page of results to return."
        required: false
        type: "string"
        default: "start_time"
      - name: "order"
        in: "query"
        description: "Puts results in ascending or descending order."
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
      responses:
        200:
          description: "The results for the request."
          schema:
            $ref: "#/definitions/Recording"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "History"
  /v1/user/{user_id}/meeting_history/{meeting_guid}:
    get:
      tags:
      - "History"
      summary: "List Meetings"
      description: "This endpoint retrieves a list of meetings."
      operationId: "v1UserUser_idMeeting_historyMeeting_guidGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "History"
  /v1/user/{user_id}/meeting_history/{meeting_guid}/recordings:
    delete:
      tags:
      - "Recording"
      summary: "Delete All Recordings for a Specified Meeting GUID"
      description: "This endpoint stops recording for a meeting in progress.\n"
      operationId: "v1UserUser_idMeeting_historyMeeting_guidRecordingsDELETE"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_guid"
        in: "path"
        description: "The globally unique identifier (GUID) of the meeting of interest.\
          \ This value is a string which contains the numeric meeting id, followed\
          \ by a colon, followed by a 128-bit integer number formatted as 5 alphanumeric\
          \ segments separated by dashes. Since a given numeric meeting ID can have\
          \ multiple instantiations over time, the GUID helps identify the instance\
          \ of interest."
        required: true
        type: "string"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/meeting_history/{meeting_id}/recordings/{recording_chapter_id}/:
    delete:
      tags:
      - "Recording"
      summary: "Delete a Specified Recording Chapter"
      description: "This endpoint stops recording for a meeting in progress."
      operationId: "v1UserUser_idMeeting_historyMeeting_idRecordingsRecording_chapter_idDELETE"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "recording_chapter_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Recording"
  /v1/user/{user_id}/room:
    get:
      tags:
      - "User"
      summary: "Get User’s Default Meeting Settings"
      description: "This endpoint gets a user’s default meeting settings."
      operationId: "v1UserUser_idRoomGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Room"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "User"
    put:
      tags:
      - "User"
      summary: "Update User’s Default Meeting Settings"
      description: "This endpoint allows updating a user’s default meeting settings."
      operationId: "v1UserUser_idRoomPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - in: "body"
        name: "room"
        description: "The user's room details that you wish to update."
        required: true
        schema:
          $ref: "#/definitions/Room"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Room"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "User"
  /v1/user/{user_id}/scheduled_meeting:
    get:
      tags:
      - "User"
      - "Meeting"
      summary: "Meeting"
      description: "This endpoint gets a user’s default meeting settings."
      operationId: "v1UserUser_idScheduled_meetingGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "User"
    post:
      tags:
      - "Meeting"
      summary: "Meeting"
      description: "Create a meeting."
      operationId: "v1UserUser_idScheduled_meetingPOST"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "email"
        in: "query"
        description: "If set to true, sends invitation emails to all listed participants."
        required: false
        type: "boolean"
      - in: "body"
        name: "meeting"
        description: "The user's room details that you wish to update."
        required: true
        schema:
          $ref: "#/definitions/Meeting"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}:
    get:
      tags:
      - "Meeting"
      summary: "Meeting"
      description: "This endpoint gets a user’s default meeting settings."
      operationId: "v1UserUser_idScheduled_meetingMeeting_idGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
    put:
      tags:
      - "Meeting"
      summary: "Meeting"
      description: "Update a meeting."
      operationId: "v1UserUser_idScheduled_meetingMeeting_idPUT"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - in: "body"
        name: "meeting"
        description: "The user's room details that you wish to update."
        required: true
        schema:
          $ref: "#/definitions/Meeting"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
    delete:
      tags:
      - "Meeting"
      summary: "Meeting"
      description: "Cancel a meeting."
      operationId: "v1UserUser_idScheduled_meetingMeeting_idDELETE"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
  /v1/user/{user_id}/scheduled_meeting/{meeting_id}/emails:
    get:
      tags:
      - "Meeting"
      summary: "Meeting"
      description: "This endpoint retrieves the email object for a scheduled meeting."
      operationId: "v1UserUser_idScheduled_meetingMeeting_idEmailsGET"
      parameters:
      - name: "user_id"
        in: "path"
        description: "The ID of the user of interest.  his value is an integer which\
          \ can be retrieved for the current user via the Get User Account Details\
          \ endpoint."
        required: true
        type: "integer"
      - name: "meeting_id"
        in: "path"
        description: "The ID of the meeting you want to view. This is an integer value.\
          \ You can find this ID by doing a list of meetings and referencing the \"\
          id\" property."
        required: true
        type: "integer"
      - name: "type"
        in: "query"
        description: "TEXT, ICS, HTML"
        required: false
        type: "string"
        enum:
        - "TEXT"
        - "ICS"
        - "HTML"
      - name: "role"
        in: "query"
        description: "moderator, participant"
        required: false
        type: "string"
        enum:
        - "moderator"
        - "participant"
      - name: "action"
        in: "query"
        description: "create, edit, delete"
        required: false
        type: "string"
        enum:
        - "create"
        - "edit"
        - "delete"
      responses:
        200:
          description: "The settings for the room"
          schema:
            $ref: "#/definitions/Meeting"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - access_token: []
      x-swagger-router-controller: "Meeting"
securityDefinitions:
  access_token:
    type: "apiKey"
    name: "access_token"
    in: "query"
definitions:
  Grant:
    type: "object"
    properties:
      access_token:
        type: "string"
        description: "The access token acts as a kind of \"valet key\" that the application\
          \ can include with its requests to the identity provider, which prove that\
          \ it has permission from the user to access those APIs."
      expires_in:
        type: "integer"
        description: "Timestamp"
      refresh_token:
        type: "string"
      scope:
        $ref: "#/definitions/Scope"
  Scope:
    type: "object"
    properties:
      user:
        type: "integer"
        description: "your user id"
      partitionName:
        type: "string"
        description: "the server farm you are on"
      partition:
        $ref: "#/definitions/Partition"
  Partition:
    type: "object"
    properties:
      id:
        type: "integer"
      name:
        type: "string"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "Unique identifier for the user."
        readOnly: true
      username:
        type: "string"
      firstName:
        type: "string"
        description: "User's first name"
      middleName:
        type: "string"
        description: "User's middle name"
      lastName:
        type: "string"
        description: "User's last name"
      emailId:
        type: "string"
        description: "User's email address"
      company:
        type: "string"
        description: "User's company name"
      title:
        type: "string"
        description: "User's title"
      phone:
        type: "string"
        description: "User's phone"
      profilePicture:
        type: "string"
        description: "Path to user's profile picture"
      timezone:
        type: "string"
        description: "User's timezone"
      timeFormat:
        type: "integer"
        description: "User's preference of 12 or 24 hour time display"
      language:
        type: "string"
        description: "User's language code"
  Enterprise:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "Unique identifier for the user."
        readOnly: true
      enterprise:
        type: "integer"
        description: "Unique identifier for the enterprise."
        readOnly: true
      enterpriseAdmin:
        type: "boolean"
        description: "Is this user an administrator for this enterprise?"
      joinDate:
        type: "integer"
        description: "Date of enterprise join"
      expiryDate:
        type: "integer"
        description: "Date of expiration; null if not set"
  Room:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "Unique identifier for room."
        readOnly: true
      numericId:
        type: "string"
        description: "Unique identifier for room."
      name:
        type: "string"
        description: "Name of the room."
      originPopId:
        type: "integer"
      isLargeMeeting:
        type: "boolean"
      showVideoAnimations:
        type: "boolean"
      backgroundImage:
        type: "string"
      isModeratorLess:
        type: "boolean"
      welcomeMessage:
        type: "string"
      disallowChat:
        type: "boolean"
      encryptionType:
        type: "string"
      showAllParticipantsInIcs:
        type: "boolean"
      participantPasscode:
        type: "string"
      publishMeeting:
        type: "boolean"
      moderatorLess:
        type: "boolean"
      videoBestFit:
        type: "boolean"
      muteParticipantsOnEntry:
        type: "boolean"
      enforceMeetingEncryption:
        type: "boolean"
      enforceMeetingEncryptionAllowPSTN:
        type: "boolean"
      idleTimeout:
        type: "integer"
      defaultLayout:
        type: "string"
      playAudioAlerts:
        type: "boolean"
      personalMeetingId:
        type: "integer"
      moderatorPasscode:
        type: "string"
  Meeting:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "Unique identifier for meeting."
        readOnly: true
      title:
        type: "string"
      description:
        type: "string"
      start:
        type: "integer"
      end:
        type: "integer"
      timezone:
        type: "string"
      numericMeetingId:
        type: "string"
      attendeePasscode:
        type: "string"
  Recording:
    type: "array"
    items:
      $ref: "#/definitions/Recording_inner"
  AnalyticsTopUsers:
    type: "object"
    properties:
      usage:
        type: "array"
        items:
          $ref: "#/definitions/AnalyticsTopUsers_usage"
  AnalyticsEndpointDistribution:
    type: "object"
    properties:
      distribution:
        type: "array"
        items:
          $ref: "#/definitions/AnalyticsEndpointDistribution_distribution"
  AnalyticsUsage:
    type: "object"
    properties:
      usage:
        type: "array"
        items:
          $ref: "#/definitions/AnalyticsUsage_usage"
  AnalyticsRoiData:
    type: "object"
    properties:
      roi_ranges:
        type: "array"
        items:
          $ref: "#/definitions/AnalyticsRoiData_roi_ranges"
  AnalyticsFeedbackScores:
    type: "object"
    properties:
      Great:
        type: "integer"
      Okay:
        type: "integer"
      Bad:
        type: "integer"
      Poor:
        type: "integer"
      Good:
        type: "integer"
  AnalyticsFeedbackComments:
    type: "object"
    properties:
      comments:
        type: "array"
        items:
          $ref: "#/definitions/AnalyticsFeedbackComments_comments"
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
  payload:
    required:
    - "client_id"
    - "client_secret"
    - "grant_type"
    properties:
      grant_type:
        type: "string"
        description: "The type of access token you are requesting."
        default: "client_credentials"
      client_id:
        type: "string"
        description: "The value given within the BlueJeans Enterprise Administration\
          \ console."
      client_secret:
        type: "string"
        description: "The value given within the BlueJeans Enterprise Administration\
          \ console."
  payload_1:
    required:
    - "grant_type"
    - "meetingNumericId"
    - "meetingPasscode"
    properties:
      grant_type:
        type: "string"
        description: "The type of access token you are requesting."
        default: "meeting_passcode"
      meetingNumericId:
        type: "string"
        description: "Meeting ID"
      meetingPasscode:
        type: "string"
        description: "Pin"
  payload_2:
    required:
    - "grant_type"
    - "password"
    - "username"
    properties:
      grant_type:
        type: "string"
        description: "The type of access token you are requesting."
        default: "password"
      username:
        type: "string"
        description: "Your user name that you use to login to our site."
      password:
        type: "string"
        format: "password"
        description: "Your user password that you use to login to our site."
  meeting:
    type: "object"
    properties:
      locked:
        type: "boolean"
        description: "True to lock, false to unlock."
      status:
        type: "string"
        description: "Set to \"terminated\" to end the meeting."
  Recording_inner:
    properties:
      recordingEntityId:
        type: "integer"
      recordingName:
        type: "string"
      meetingGuid:
        type: "string"
      chapterCount:
        type: "integer"
      totalSize:
        type: "integer"
      totalDuration:
        type: "integer"
      lastRecordingDate:
        type: "string"
      aggregatedStatus:
        type: "string"
      recordingThumbnail:
        type: "string"
      created:
        type: "integer"
      isPremiumRecording:
        type: "boolean"
      showPremiumRecordingTag:
        type: "boolean"
  AnalyticsTopUsers_usage:
    properties:
      lastMeetingTime:
        type: "integer"
      participantMinutes:
        type: "number"
      last_name:
        type: "string"
      userName:
        type: "string"
      userId:
        type: "integer"
      first_name:
        type: "string"
  AnalyticsEndpointDistribution_distribution:
    properties:
      Google:
        type: "integer"
      Telepresence:
        type: "integer"
      Lync:
        type: "integer"
      iOS:
        type: "integer"
      H323:
        type: "integer"
      InterCall:
        type: "integer"
      Jabber:
        type: "integer"
      Android:
        type: "integer"
      Skype:
        type: "integer"
      ISDN:
        type: "integer"
      PSTN:
        type: "integer"
      Level3:
        type: "integer"
      SIP:
        type: "integer"
      BlueJeansApp:
        type: "integer"
      Browser:
        type: "integer"
      WebRTC:
        type: "integer"
  AnalyticsUsage_usage:
    properties:
      endpointMinutes:
        type: "integer"
      numEndpoints:
        type: "integer"
      numMeetings:
        type: "integer"
      Date:
        type: "integer"
  AnalyticsRoiData_roi_ranges:
    properties:
      distance:
        type: "number"
      distance_range:
        type: "string"
  AnalyticsFeedbackComments_comments:
    properties:
      qualaroo_feedback:
        type: "string"
        description: "The comment rating left by the user."
      meeting_uuid:
        type: "string"
        description: "The UUID of the meeting."
      callguid:
        type: "string"
      qualaroo_comments:
        type: "string"
        description: "The comment left by the user."
externalDocs:
  description: "Find more info here\n"
  url: "https://swagger.io"
securityRequirement:
- access_token: []
